@import "../../../_module";
.input {
  &__wrap {
    @include flex__column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 6px;
    width: 100%;
  }
  &__item {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    width: 100%;
  }
  &__title {
    width: 50px;
    font-size: $font-size--sm;
    font-weight: $font-weight--Regular;
    letter-spacing: -0.03em;
    word-break: keep-all;
    text-align: right;
    flex-shrink: 0;
  }
  &__data {
    width: 100%;
    .data__wrap {
      @include flex__column;
      justify-content: center;
      align-items: center;
      row-gap: 16px;
      width: 100%;
      .img__wrap {
        width: 100%;
        height: 185px;
        border: 1px solid $border-color--default;
        border-radius: $radius--default;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}