@import "../../module";
.calendar {
  * {
    pointer-events: none !important;
    font-size: $font-size--sm !important;
  }
}
:global {
  .calendar__wrap {
    .MuiPickersDay-today {
      color: #FFF !important;
      border: none !important;
      border-radius: 4px !important;
      background: $text-color--placeholder !important;
    }
    .Mui-selected {
      border-radius: 4px !important;
      background: $point-color--third !important;
      color: #FFF !important;
    }
  }
}