@import "../../_module";
.bg {
  @include flex__row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
  margin-bottom: 15px;
  button {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background: transparent;
    img {
      width: 100%;
    }
  }
}