@import "../../_module";
.date {
  @include device__query(tablet) {
    @include position;
  }
  &__wrap {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 10px solid $bg-color--tab;
    background: $bg-color--setting;
  }
  &__content {
    @include flex__column;
    .date {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 3px;
      text-align: center;
      p {
        &:first-child {
          font-size: $font-size--lg;
          letter-spacing: 0.05em;
          color: #222425;
        }
        &:last-child {
          font-size: $font-size--default;
          color: $text-color--disable;
        }
      }
    }
    .calendar {
      margin: 20px 24px;
      padding: 20px 6px;
      border-top: 1px solid $border-color--default;
      border-bottom: 1px solid $border-color--default;
    }
    .d_day {
      span {
        color: $point-color--third;
        font-weight: $font-weight--Bold;
        font-size: 1.0625rem; // 17px
        &:first-of-type {
          font-size: $font-size--default;
        }
        &:last-of-type {
          font-size: 1.0625rem; // 17px
        }
      }
    }
  }
}
.calendarType1 {
  .date__wrap_add {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 10px solid $bg-color--tab;
  }
  .date__wrap {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 20px;
    border-bottom: none;
    border-radius: 999px 999px 70px 70px;
    > img {
      margin: 0 auto 16px;
      width: 69px;
      height: 20px;
    }
  }
  .date__content {
    .calendar {
      margin: 20px 24px 0;
      padding: 20px 6px 0;
      border-top: 1px solid #E5E8EB;
      border-bottom: none;
    }
    .d_day {
      .divide {
        width: 1px;
        height: 36px;
        background: rgba(122, 122, 122, 0.5);
        margin: 20px auto;
      }
      p {
        font-size: $font-size--ssm;
        span {
          font-size: $font-size--ssm;
        }
      }
    }
    .month {
      font-size: $font-size--lg;
      line-height: 1em;
    }
  }
  .date {
    @include flex__column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    margin-top: 20px;
    text-align: center;
    * {
      line-height: 1.5em;
    }
    p {
      &:last-of-type {
        font-size: $font-size--default;
      }
      &:last-of-type {
        font-size: $font-size--sm;
        color: $text-color--temp;
      }
    }
  }
}
.calendarType2 {
  .calendar {
    margin: 20px 20px;
  }
  .date__wrap {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
    border-bottom: none;
    border-radius: 16px;
    > img {
      margin: 0 auto 8px;
      width: 62px;
      height: 47px;
    }
  }
  .date__content {
    .calendar {
      margin: 20px;
      margin-top: 0;
    }
  }
  .date {
    * {
      line-height: 1.5em;
    }
    p {
      &:first-of-type {
        font-size: $font-size--default;
        letter-spacing: 0;
      }
      &:last-of-type {
        font-size: $font-size--sm;
        color: $text-color--temp;
      }
    }
  }
  .d_day {
    margin-bottom: 20px;
    p {
      font-size: $font-size--ssm;
      span {
        font-size: $font-size--ssm !important;
      }
    }
    
  }
}
.calendarType3 {
  padding-top: 0;
  padding-bottom: 0;
  .date__wrap {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background: transparent;
  }
  .date__content {
    .calendar {
      margin: 8px 24px;
      border-top: none;
    }
    .date {
      row-gap: 4px;
      * {
        line-height: 1.5em;
      }
      p {
        &:first-child {
          font-size: $font-size--default;
          letter-spacing: 0;
        }
        &:last-child {
          font-size: $font-size--sm;
          color: $text-color--temp;
        }
      }
    }
    .d_day {
      margin-top: 14px;
      p {
        line-height: 1.5em;
        text-align: center;
        font-size: $font-size--ssm;
        span {
          font-size: $font-size--ssm;
        }
      }
    }
  }
  :global {
    .calendar__wrap {
      .MuiDayCalendar-header {
        background-color: $bg-color--setting;
        border-radius: 8px;
        * {
          font-size: $font-size--xsm !important;
        }
      }
      .MuiPickersDay-root {
        font-family: var(--font-family--theme);
      }
      .Mui-selected {
        background: $button-color--default !important;
        color: #FFF !important;
        border-radius: 8px !important;
      }
      .MuiPickersDay-today {
        color: #FFF !important;
        border: none !important;
        border-radius: 8px !important;
        background: $text-color--placeholder !important;
      }
    }
  }
}
.calendarType4 {
  
}