@import "../../_module";
.date {
  &__wrap {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 10px solid $bg-color--tab;
    background: $bg-color--setting;
  }
  &__content {
    @include flex__column;
    .date {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 3px;
      text-align: center;
      p {
        &:first-child {
          font-size: $font-size--lg;
          letter-spacing: 0.05em;
          color: #222425;
        }
        &:last-child {
          font-size: $font-size--default;
          color: $text-color--disable;
        }
      }
    }
    .calendar {
      margin: 20px 24px;
      padding: 20px 6px;
      border-top: 1px solid $border-color--default;
      border-bottom: 1px solid $border-color--default;
    }
    .d_day {
      span {
        color: $point-color--third;
        font-weight: $font-weight--Bold;
        font-size: 17px;
        &:first-of-type {
          font-size: $font-size--default;
        }
        &:last-of-type {
          font-size: 17px;
        }
      }
    }
  }
}
// .intro__style {
//   &_theme_1 {
    
//   }
// }