@import "../../_module";
.effect {
  @include position(a, 0, 50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: $width--min;
  height: 100vh;
  background: repeat top center / auto $width--min;
  animation-fill-mode: both; 
  opacity: 0.8;
  z-index: 10;
  pointer-events: none;
  @include device__query(tablet) {
    // height: 100vh;
    background: repeat top center / auto $width--min;
  }
  &.flower {
    background-image: url(../../../img/intro/effect_flower1.gif);
  }
  &.heart {
    background-image: url(../../../img/intro/effect_heart1.gif);
    background-size: contain;
    opacity: 0.2;
  }
  &.snowflake {
    background-image: url(../../../img/intro/effect_snow1.gif);
    background-size: contain;
    opacity: 0.7;
  }
  &.effectAll {
    height: 100%;
  }
}
// @keyframes pop {
//   0% {
//     background-position: 0 0, 0 0, 0 0;
//   }
//   100% {
//     background-position: 420px 840px;
//   }
// }