@import "../../_module";
.gallery__type {
  &.mix {
    :global {
      .swiper-slide {
        border-radius: $radius--default;
        img {
          border-radius: $radius--default;
          background: #EEE;
        }
      }
      // .swiper-scrollbar {
      //   @include position(s);
      //   width: 100%;
      //   height: 6px;
      //   margin-top: 24px;
      //   background: $bg-color--tab;
      // }
    }
    .top {
      width: 100%;
      height: 220px;
      background: #EEE;
      border-radius: $radius--default;
    }
    .bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
      width: 100%;
      height: 52px;
      margin-top: 12px;
      border-radius: 4px;
      img {
        border-radius: 4px;
      }
    }
  }
}
