@import "../../_module";
.gift {
  width: 100%;
  &__wrap {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
  }
  &__content {
    @include position;
    @include flex__column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 16px;
    width: 100%;
    padding: 0 24px;
    .account {
      &__list {
        width: 100%;
        border: 1px solid $border-color--default;
        border-radius: $radius--default;
        overflow: hidden;
        &_title {
          @include flex__row;
          justify-content: space-between;
          align-items: center;
          padding: 4px 4px 4px 15px;
          img {
            width: 40px;
            height: 40px;
          }
        }
        &_content {
          @include flex__column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 12px;
          padding: 0;
          border-top: 1px solid $border-color--default;
          height: 0;
          padding-top: 0rem;
          padding-bottom: 0rem;
          visibility: hidden;
          transition: padding-top 0.4s, margin-bottom 0.4s;
          &.active {
            display: flex;
            height: 100%;
            padding: 20px 24px;
            visibility: visible;
          }
        }
      }
      &__item {
        @include flex__column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 6px;
        width: 100%;
        padding: 16px 20px;
        border-radius: $radius--default;
        background: $bg-color--setting;
        .name {
          @include flex__row;
          justify-content: flex-start;
          align-items: center;
          column-gap: 8px;
          color: $text-color--temp;
          span {
            font-weight: $font-weight--Bold;
          }
        }
        .account {
          @include flex__row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          * {
            font-size: $font-size--sm;
            font-weight: $font-weight--Regular;
            font-family: $font-family--default !important;
            color: $text-color--disable;
          }
        }
      }
    }
  }
  &__type {
    width: 100%;
  }
}