@import "../../_module";
.intro {
  &__wrap {
    width: 100%;
    padding: 0 45px;
    padding-top: 32px;
    padding-bottom: 35px;
    > div {
      &:nth-child(2) {
        margin-top: 16px;
      }
      &:nth-child(3) {
        margin-top: 30px;
      }
    }
  }
  &__headline {
    @include flex__column;
    justify-content: flex-start;
    align-items: center;
    .img__wrap {
      width: 24px;
      height: 24px;
      margin-bottom: 13px;
      img {
        width: 100%;
      }
    }
    .txt__wrap {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 5px;
      text-transform: uppercase;
      line-height: 1.5em;
      * {
        color: $text-color--disable;
        font-weight: $font-weight--Bold;
        letter-spacing: 0.1em;
      }
      span {
        font-size: $font-size--xxsm;
      }
      p {
        font-size: $font-size--sm;
      }
    }
  }
  &__photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    width: 100%;
    // height: 100%;
    border-radius: $radius--default;
    background: #EEE;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__title {
    @include flex__column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 4px;
    * {
      line-height: 1.5em;
    }
    &_couple {
      @include flex__row;
      justify-content: center;
      align-items: center;
      column-gap: 27px;
      margin-bottom: 8px;
      h2 {
        font-size: $font-size--xl;
        letter-spacing: 0.25em;
        color: #222425;
      }
      p {
        width: 2px;
        height: 19px;
        background: $border-color--default;
      }
    }
    &_date {
      h3 {
        font-size: $font-size--sl;
        color: $text-color--temp;
      }
    }
    &_place {
      h4 {
        font-size: $font-size--ssm;
        color: $text-color--disable-input;
      }
    }
  }
}
// .intro__style {
//   &_theme_1 {
    
//   }
// }