@import "../../_module";
.intro {
  width: 100%;
  @include device__query(tablet) {
    @include position;
  }
  &__wrap {
    width: 100%;
    padding: 0 45px;
    padding-top: 50px;
    padding-bottom: 35px;
    @include device__query(tablet) {
      > div {
        &:nth-child(2) {
          margin-top: 24px;
        }
        &:nth-child(3) {
          margin-top: 40px;
        }
      }
    }
    > div {
      &:nth-child(2) {
        margin-top: 24px;
      }
      &:nth-child(3) {
        margin-top: 40px;
      }
    }
  }
  &__headline {
    @include flex__column;
    justify-content: flex-start;
    align-items: center;
    .img__wrap {
      width: 98px;
      height: 20px;
      margin-bottom: 6px;
      img {
        width: 100%;
      }
    }
    .txt__wrap {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 5px;
      text-transform: uppercase;
      line-height: 1.5em;
      p {
        font-size: 1.375rem; // 22px
        font-weight: $font-weight--Regular;
        letter-spacing: 0;
        line-height: 1.5em;
        color: $text-color--default;
      }
    }
  }
  &__photo {
    width: 100%;
    height: 330px;
    object-fit: cover;
    width: 100%;
    border-radius: $radius--default;
    background: #EEE;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__title {
    @include flex__column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 4px;
    * {
      line-height: 1.5em;
    }
    &_couple {
      @include flex__row;
      justify-content: center;
      align-items: center;
      column-gap: 27px;
      margin-bottom: 8px;
      h2 {
        font-size: $font-size--xl;
        letter-spacing: 0.25em;
        color: #222425;
      }
      p {
        width: 2px;
        height: 19px;
        background: $border-color--default;
      }
    }
    &_date {
      h3 {
        font-size: $font-size--sl;
        color: $text-color--temp;
      }
    }
    &_place {
      h4 {
        font-size: $font-size--ssm;
        color: $text-color--disable-input;
      }
    }
  }
}
.basicTemplate2 {
  .intro__wrap {
    padding: 0 24px;
    padding-top: 35px;
    padding-bottom: 35px;
    > div:nth-child(3) {
      @include device__query(tablet) {
        margin-top: 30px;
      }
    }
  }
  .intro__headline {
    .img__wrap {
      width: 89px;
      margin-bottom: 7px;
    }
    .txt__wrap {
      p {
        @include flex__row;
        column-gap: 7px;
        justify-content: center;
        align-items: center;
        font-size: 1.875rem; // 30px
        font-weight: $font-weight--Bold;
        line-height: 1.1em;
        letter-spacing: 0.05em;
        white-space: pre-line;
        span {
          font-size: $font-size--lg;
        }
      }
    }
  }
  .intro__photo {
    @include flex__row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: 390px;
    background: transparent;
    border-radius: 0;
    img {
      width: calc(100% - 20px);
      border-radius: 500px 500px 25px 25px;
      display: block;
    }
    p {
      margin-top: 50px;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      font-size: $font-size--xxsm;
      font-weight: $font-weight--Bold;
      letter-spacing: 0.3em;
      line-height: 1.5em;
      color: $text-color--disable;
    }
  }
}
.basicTemplate3 {
  .intro__wrap {
    padding: 0 45px;
    padding-top: 55px;
    padding-bottom: 35px;
    > div:nth-child(3) {
      margin-top: 20px;
    }
  }
  .intro__headline {
    .img__wrap {
      width: 48px;
      height: 29px;
      margin-bottom: 0;
    }
  }
  .intro__title {
    &_couple {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 12px;
      margin-bottom: 43px;
      h2 {
        margin-left: 0.25em;
        margin-top: 0.07em;
        line-height: 1.5em;
        font-size: $font-size--xl;
        color: $text-color--default;
      }
      .divide {
        width: unset;
        background: transparent;
        color: $text-color--disable-input;
      }
    }
    &_date {
      h3 {
        line-height: 1.5em;
        letter-spacing: 0.03em;
        color: $text-color--temp;
      }
    }
  }
  .intro__photo {
    @include flex__row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: 320px;
    background: transparent;
    border-radius: 0;
    img {
      display: block;
      border-radius: $radius--default;
    }
  }
}
.basicTemplate4 {
  &:first-child {
    padding-top: 44px;
  }
  .intro__wrap {
    padding: 0 20px;
    padding-top: 6px;
    padding-bottom: 35px;
    > div:nth-child(2) {
      margin-top: 30px;
    }
  }
  .intro__headline {
    .txt__wrap {
      p {
        @include flex__row;
        column-gap: 7px;
        justify-content: center;
        align-items: center;
        font-size: $font-size--sm;
        font-weight: $font-weight--Bold;
        line-height: 1.1em;
        letter-spacing: 0;
      }
    }
  }
  .intro__photo {
    @include flex__row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: 420px;
    background: transparent;
    border-radius: 0;
    img {
      border-radius: $radius--default;
      display: block;
    }
    p {
      margin-top: 50px;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      font-size: $font-size--xxsm;
      font-weight: $font-weight--Bold;
      letter-spacing: 0.3em;
      line-height: 1.5em;
      color: $text-color--disable;
    }
  }
}
[class*="fillTemplate"] {
  &.fillTemplate1,
  &.fillTemplate2,
  &.fillTemplate3,
  &.fillTemplate4 {
    &.intro {
      padding-top: 8px;
    }
    .intro__wrap {
      padding: 0;
      padding-bottom: 35px;
      margin-top: -47px;
      > div:nth-child(2) {
        margin-top: 40px;
      }
      @include device__query(tablet) {
        margin-top: -0;
      }
    }
    .intro__photo {
      background: no-repeat top / cover;
      min-height: 500px;
      border-radius: 0;
    }
    .intro__headline {
      width: 100%;
      padding-top: 90px;
      justify-content: center;
      line-height: 1.5em;
    }
  }
  &.fillTemplate1 {
    .intro__headline {
      p {
        font-size: $font-size--sm;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        letter-spacing: 0.25em;
      }
    }
  }
  &.fillTemplate2 {
    .intro__wrap {
      > div:nth-child(2) {
        margin-top: 30px;
      }
    }
    .intro__photo {
      background: url(../../../img/intro/intro_photo_test6.png) no-repeat top / cover;
    }
    .intro__title {
      * {
        letter-spacing: 0.03em;
      }
    }
    .intro__title_couple {
      @include flex__row;
      width: 60%;
      margin: 0 auto;
      padding-top: 135px;
      justify-content: center;
      line-height: 1.5em;
      column-gap: 11px;
      h2 {
        color: #FFF;
        letter-spacing: 0.15em;
        &:nth-of-type(2) {
          margin-left: 3px;
        }
      }
      img {
        width: 35px;
        margin-bottom: 4px;
        filter: brightness(0) invert(1);
      }
    }
  }
  &.fillTemplate3 {
    .intro__photo {
      background: url(../../../img/intro/intro_photo_test7.png) no-repeat top / cover;
    }
    .intro__title_couple {
      @include flex__row;
      width: 60%;
      margin: 0 auto;
      justify-content: center;
      line-height: 1.5em;
      column-gap: 11px;
      margin-bottom: 12px;
      h2 {
        letter-spacing: 0.1em;
        &:nth-of-type(2) {
          margin-left: 3px;
        }
      }
    }
  }
  &.fillTemplate4 {
    margin-top: -22px;
    @include device__query(tablet) {
      margin-top: 0px;
    }
    .intro__photo {
      background: url(../../../img/intro/intro_photo_test8.png) no-repeat top / cover;
    }
    .intro__title_couple {
      @include flex__row;
      width: 60%;
      margin: 0 auto;
      justify-content: center;
      line-height: 1.5em;
      column-gap: 5px;
      margin-bottom: 12px;
      h2 {
        letter-spacing: 0.1em;
      }
    }
    .intro__title_date {
      * {
        letter-spacing: 0.03em;
      }
    }
    .intro__title_place {
      * {
        letter-spacing: 0;
      }
    }
  }
}
.basicTemplate2,
.fillTemplate1 {
  .intro__title {
    &_couple {
      column-gap: 15px;
      margin-bottom: 12px;
      h2 {
        line-height: 1.5em;
        letter-spacing: 0.1em;
        font-size: 1.3125rem;// 21px
      }
      .divide {
        width: 80px;
        height: 1px;
        background: $text-color--default;
      }
    }
    &_date {
      h3 {
        line-height: 1.5em;
        letter-spacing: 0.03em;
        color: $text-color--temp;
      }
    }
  }
}
.basicTemplate4,
.fillTemplate3 {
  .intro__title {
    &_couple {
      column-gap: 18px;
      margin-bottom: 12px;
      h2 {
        line-height: 1.5em;
        letter-spacing: 0.1em;
        font-size: $font-size--xl;
      }
      img {
        width: 58px;
        height: 24px;
        margin-bottom: 3px;
      }
    }
    &_date {
      h3 {
        line-height: 1.5em;
        letter-spacing: 0.03em;
        color: $text-color--temp;
      }
    }
  }
}

.themeFlower,
.themeSimple {
  .intro__photo {
    width: 100%;
    margin-bottom: 80px;
    border-radius: 8px;
    background: transparent no-repeat center / calc(100% - 20px);
    overflow: hidden;
    .intro__title_couple {
      @include flex__column;
      justify-content: center;
      align-items: center;
      row-gap: 9px;
      height: 100%;
      margin-top: 6px;
      h2 {
        letter-spacing: 0.1em;
      }
      img {
        width: 50px;
        height: 22px;
        object-fit: unset;
        object-position: unset;
        margin-bottom: 8px;
      }
    }
  }
  .intro__title_date {
    h3 {
      letter-spacing: 0.03em;
    }
  }
}
.themeSimple {
  background: transparent no-repeat center / calc(100% - 20px);
  .intro__wrap {
    padding-bottom: 80px;
    .intro__photo {
      height: unset;
      margin-bottom: 0;
      padding-top: 100px;
      > img {
        width: 64px;
        height: 33px;
        margin: 0 auto;
      }
      .intro__title_couple {
        @include flex__row;
        justify-content: center;
        align-items: center;
        row-gap: 9px;
        height: unset;
        margin-top: 34px;
        margin-bottom: 110px;
        h2 {
          letter-spacing: 0.1em;
        }
        .simple__date {
          @include flex__column;
          justify-content: center;
          align-items: center;
          p {
            width: unset;
            height: unset;
            background: transparent;
            font-size: 2rem; // 32px
            line-height: 1.5em;
            &.divide {
              width: 38px;
              height: 1px;
              background: #919292;
            }
          }
        }
      }
    }
    > div:nth-child(3) {
      margin-top: 20px;
    }
    .intro__headline {
      .Intro_intro__wrap__0TUbj 
      p {
        font-size: $font-size--xl;
      }
    }
  }
}