@import "../../_module";
.intro {
  &__wrap {
    width: 100%;
    padding: 0 25px;
    padding-top: 32px;
    > div {
      &:nth-child(2) {
        margin-top: 16px;
      }
      &:nth-child(3) {
        margin-top: 30px;
      }
    }
  }
  &__headline {
    @include flex__column;
    justify-content: flex-start;
    align-items: center;
    .img__wrap {
      width: 24px;
      height: 24px;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    .txt__wrap {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 3px;
      text-transform: uppercase;
      line-height: 1.5em;
      * {
        color: $text-color--disable;
        font-weight: $font-weight--ExtraBold;
        letter-spacing: 0.1em;
      }
      span {
        font-size: $font-size--xxsm;
      }
      p {
        font-size: $font-size--sm;
      }
    }
  }
  &__photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    width: 100%;
    // height: 100%;
    border-radius: $radius--default;
    background: #EEE;
    img {
      width: 100%;
    }
  }
}
// .intro__style {
//   &_theme_1 {
    
//   }
// }