@import "../../_module";
.letter {
  &__wrap {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
    > div {
      &:nth-child(2) {
        margin-top: 16px;
      }
      &:nth-child(3) {
        margin-top: 30px;
      }
    }
  }
  &__content {
    @include flex__column;
    row-gap: 32px;
    .greet {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 12px;
      text-align: center;
      p {
        font-size: $font-size--ssm;
        line-height: 1.7em;
        color: $text-color--temp;
      }
    }
    .detail {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 8px;
      margin-bottom: 8px;
      * {
        line-height: 1.5em;
      }
      p {
        display: inline-block;
        font-size: $font-size--default;
        font-weight: $font-weight--Medium;
        color: $text-color--temp;
        letter-spacing: 0.03em;
      }
      span {
        display: inline-block;
        margin-left: 8px;
        margin-right: 16px;
        font-size: $font-size--sm;
        font-weight: $font-weight--Regular;
        color: $text-color--disable;
      }
    }
  }
}
// .intro__style {
//   &_theme_1 {
    
//   }
// }