@import "../../_module";
.notice {
  background: $bg-color--setting;
  &__wrap {
    width: 100%;
    margin-top: 35px;
    padding: 50px 24px;
    text-align: center;
    border-bottom: 10px solid $bg-color--tab;
  }
  &__content {
    @include position;
    @include flex__column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 16px;
    width: 100%;
    padding: 16px;
    background: #FFF;
    border-radius: $radius--default;
    .content {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 16px;
      width: 100%;
      padding: 8px 24px 16px;
      display: none;
      &.active {
        display: flex;
      }
      img {
        width: 100%;
        max-width: 260px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: $radius--default;
        background: #EEE;
      }
      p {
        font-size: $font-size--sm;
        font-weight: $font-weight--Regular;
        font-family: $font-family--default !important;
        letter-spacing: -0.03em;
        line-height: 1.5em;
        color: $text-color--disable;
        white-space: pre-line;
      }
    }
  }
}