@import "../../_module";
.notice {
  &__wrap {
    width: 100%;
    margin-top: 35px;
    padding: 35px 24px;
    text-align: center;
  }
  &__content {
    @include position;
    @include flex__column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 16px;
    width: 100%;
    background: #FFF;
    border-radius: $radius--default;
    .content {
      @include flex__column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 16px;
      width: 100%;
      padding: 32px 30px;
      border-radius: $radius--default;
      background: $bg-color--setting;
      &.top {
        img {
          order: 1;
        }
        p {
          order: 2;
        }
      }
      &.bottom {
        img {
          order: 2;
        }
        p {
          order: 1;
        }
      }
      img {
        width: 100%;
        max-width: 260px;
        height: 150px;
        border-radius: $radius--default;
        background: #EEE;
        object-fit: cover;
        object-position: center;
      }
      .title {
        width: 100%;
        margin-bottom: 4px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color--default;
        p {
          letter-spacing: -0.03em;
          line-height: 1.5em;
        }
      }
      > p {
        font-size: $font-size--sm;
        font-weight: $font-weight--Regular;
        font-family: $font-family--default !important;
        letter-spacing: -0.03em;
        line-height: 1.5em;
        white-space: pre-line;
        color: $text-color--disable;
      }
    }
  }
}