@import "../../_module";
.tab {
  @include position(st, 20px, 0, 0);
  @include flex__row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  padding: 3px;
  margin: 20px 20px 0;
  border-radius: 4px;
  background-color: $bg-color--tab;
  &__item {
    // width: 25%;
    width: 100%;
    > a {
      @include flex__row;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      padding: 8px 3px;
      font-size: $font-size--sm;
      font-weight: $font-weight--Light;
      border-radius: 4px;
      background-color: $bg-color--tab;
      color: #333;
    }
    &.active > a {
      border: 1px solid #E3E7EB;
      background-color: #FFF;
      box-shadow: 0 0 2px rgba(227, 231, 235, 0.7);
    }
  }
}