@import "../../_module";
.tab {
  @include flex__row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  &__wrap {
    @include position(st, 20px, 0);
    z-index: 9999;
    width: calc(100% - 40px);
    padding: 3px;
    margin: 0 20px;
    border-radius: 4px;
    background-color: var(--theme-select-color);
    @include device__query(tablet) {
      top: 82px;
      margin-top: 22px;
    }
    &.preview {
      @include device__query(tablet) {
        top: 20px;
      }
    }
    .button__wrapper {
      button {
        display: none;
      }
    }
  }
  &__item {
    width: 100%;
    > span {
      @include flex__row;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      width: 100%;
      padding: 8px 3px;
      font-size: $font-size--sm;
      font-weight: $font-weight--Light;
      border-radius: 4px;
      background-color: var(--theme-select-color);
      color: #333;
      cursor: pointer;
    }
    &.active > span {
      // border: 1px solid #E3E7EB;
      background-color: #FFF;
      box-shadow: 0 0 2px rgba(227, 231, 235, 0.7);
    }
  }
  .tab__day {
    display: none;
  }
}
.basicTemplate2,
.basicTemplate4,
.fillTemplate1,
.fillTemplate2,
.fillTemplate3,
.themeFlower,
.themeSimple { 
  &.tab__wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: transparent;
    margin: 0 auto;
    top: 0;
    pointer-events: all;
    @include device__query(tablet) {
      top: 0;
      z-index: 10001;
      pointer-events: none;
      overscroll-behavior: contain;
    }
    * {
      @include device__query(tablet) {
        pointer-events: all;
      }
    }
    .button__wrapper {
      button {
        @include position;
        @include flex__row;
        width: 24px;
        height: 24px;
        margin-top: 14px;
        margin-right: 14px;
        padding: 0;
        background: transparent url(../../../img/icon/icon_header_menu.png) no-repeat center / 24px;
        cursor: pointer;
        z-index: 999;
        &.active {
          background-image: url(../../../img/icon/icon_header_menu_close.png);
          z-index: 1000;
        }
      }
    }
  }
  .tab {
    @include position(a, 0, null, 0, 0);
    width: 46%;
    height: 100vh;
    margin: 0;
    padding: 100px 30px;
    background-color: #fff;
    border-radius: 0;
    display: none;
    @include device__query(tablet) {
      // height: calc(100vh - 60px);
    }
    &.active {
      @include flex__column;
      // @include position(f, 60px, null, 0, 0);
      // height: calc(100vh - 60px);
    }
    &__item {
      * {
        font-family: $font-family--default;
        font-size: $font-size--default;
        font-weight: 500;
        color: $text-color--default;
        line-height: 1.8em;
      }
      &.active {
        a {
          border: none;
          border-bottom: 1px solid $border-color--default;
          background-color: transparent;
          box-shadow: none;
        }
      }
      a {
        margin: 0 15px;
        padding: 14px 10px;
        background-color: transparent;
        border-bottom: 1px solid $border-color--default;
        border-radius: 0;
        max-width: 89px;
      }
    }
    .tab__day {
      display: block;
      margin-top: 24px;
      p {
        text-align: center;
        font-family: $font-family--default;
        font-size: $font-size--sm;
        font-weight: $font-weight--Regular;
        color: $text-color--default;
        line-height: 1.5em;
        @include device__query(tablet) {
          letter-spacing: 0;
        }
        span {
          color: $point-color--third;
          font-family: $font-family--default;
          &:first-child {
            @include device__query(tablet) {
              margin: 0 3px;
            }
          }
        }
      }
    }
  }
  .backdrop {
    @include position(a, 0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: -1;
    backdrop-filter: blur(10px);
    &.active {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      overscroll-behavior: contain;
    }
  }
}

.fillTemplate2 {
  .button__wrapper {
    button {
      filter: brightness(0) invert(1);
      &.active {
        filter: unset;
      }
    }
  }
}