@import "../../_module";
.video {
  &__wrap {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
  }
  &__content {
    @include position;
    width: 100%;
    height: 200px;
    padding: 0 24px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: $radius--default;
      background: #EEE;
    }
  }
  &__play {
    @include position(a, 50%, 50%);
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    z-index: 10;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &__type {
    width: 100%;
  }
}