@import "../../_module";
.invitation {
  @include scroll__disabled;
  @include position(st, 130px, 0);
  width: 100%;
  max-width: 390px;
  height: 82vh;
  border: 1px solid $border-color--default;
  border-radius: $radius--default;
  background-color: #FFF;
  overflow-y: scroll;
  * {
    font-family: $font-family--theme;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  > div {
    @include scroll__disabled;
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}