@import "../../_module";
.invitation {
  @include scroll__disabled;
  @include position(st, 130px, 0);
  width: 100%;
  max-width: 390px;
  height: 82vh;
  border: 1px solid $border-color--default;
  border-radius: $radius--default;
  background-color: #FFF;
  overflow-y: scroll;
  flex-shrink: 0;
  @include device__query(tablet) {
    height: unset;
    border: none;
    border-radius: 0;
    padding-top: 16px;
  }
  &.preview {
    height: 97vh;
  }
  * {
    font-family: var(--font-family--theme);
    font-weight: $font-weight--Medium;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  > div {
    @include scroll__disabled;
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include device__query(tablet) {
    @include position(s);
  }
}

.invitationSection {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  &.hidden {
    opacity: 0;
    transform: translateY(20px);
  }
}