@import "../../_module";
.invitation {
  @include scroll__disabled;
  @include position(st, 130px, 0);
  width: 100%;
  max-width: 390px;
  height: 82vh;
  border: 1px solid $border-color--default;
  border-radius: $radius--default;
  background-color: #FFF;
  overflow-y: scroll;
  flex-shrink: 0;
  @include device__query(tablet) {
    @include position(s);
    height: unset;
    border: none;
    border-radius: 0;
    // overflow: visible;
  }
  &.preview {
    height: 97vh;
    @include device__query(tablet) {
      height: 100vh;
    }
  }
  * {
    font-family: var(--font-family--theme);
    font-weight: $font-weight--Medium;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  > div {
    @include scroll__disabled;
    padding: 0;
    @include device__query(tablet) {
      overflow: visible;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.invitationSection {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  &.hidden {
    opacity: 0;
    transform: translateY(20px);
  }
}

.mobile__notice {
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: $font-weight--Regular;
  font-size: $font-size--sm;
  font-family: $font-family--default;
  text-align: center;
  line-height: 1.4em;
  color: $point-color--default;
}