@import "../../_module";
.view {
  @include position;
  @include flex__row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color--default;
  & > div {
    @include flex__row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 30px;
  }
  &.preview {
    > div {
      padding: 0;
    }
  }
}