@import "../../_module";
.bg {
  &__selector {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
  }
  &__item {
    @include position;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $border-color--default;
    cursor: pointer;
    &.active::after {
      @include position(a, 50%, 50%);
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: #fff;
      border: 1px solid $border-color--default;
      border-radius: 50%;
      content: "";
    }
  }
}