.option__input {
  display: flex;
  column-gap: 8px;
}
.option__input input {
  width: 100%;
  max-width: 160px;
}
.option__input select:first-child {
  width: 100%;
  max-width: 160px;
}
.option__input select:last-child {
  width: 100%;
  max-width: 100px;
}