@import "../../_module";
.check {
  @include flex__row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  input {
    @include input__appearance;
    width: 24px;
    height: 24px;
    background: transparent url(../../../img/state/checkbox_disabled.png) no-repeat center / contain;
    &:checked {
      background-image: url(../../../img/state/checkbox_selected.svg);
      & + label {
        color: $text-color--default;
      }
    }
  }
  label {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4px;
    font-size: $font-size--setting-sm;
    font-weight: $font-weight--Regular;
    color: $text-color--disable-input;
    @include device__query(tablet) {
      font-size: $font-size--setting-xsm;
    }
    & img {
      width: 18px;
      height: 18px;
    }
  }
}