.check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}
.check input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../../img/state/checkbox_disabled.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.check label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--Regular);
  color: var(--text-color--disable-input);
}
.check input:checked {
  background-image: url(../../../img/state/checkbox_selected.svg);
}
.check input:checked + label {
  color: var(--text-color--default);
}
.check label img {
  width: 18px;
  height: 18px;
}