@import "../../_module";
.item__content {
  @include flex__row;
  gap: 8px 12px;
  width: 100%;
  .option__title {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    min-width: 70px;
    font-size: $font-size--setting-ssm;
    word-break: keep-all;
    @include device__query(tablet) {
      min-width: 52px;
      font-size: $font-size--setting-xsm;
    }
  }
  .option__content {
    width: 100%;
    @include flex__row;
    flex-wrap: wrap;
    gap: 12px $col-gap--setting-basic;
    @include device__query(tablet) {
      gap: 8px $col-gap--setting-basic;
    }
    input {
      font-size: $font-size--setting-sm;
      @include device__query(tablet) {
        font-size: $font-size--setting-xsm;
      }
    }
  }
  &.multiLine {
    .option__title {
      align-items: flex-start;
      padding-top: 5px;
      @include device__query(tablet) {
        padding-top: 7px;
      }
    }
    .option__content {
      @include flex__column;
    }
    &.multiCheck {
      .option__content {
        row-gap: 8px; 
      }
    }
  }
  .essential {
    display: inline-block;
    margin-left: 3px;
    color: $text-color--essential;
  }
}
