.item__content {
  display: flex;
  column-gap: 12px;
  width: 100%;
}
.option__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 70px;
  font-size: var(--font-size--ssm);
}
.item__content.multiLine .option__title {
  align-items: flex-start;
  padding-top: 5px;
}
.option__content {
  width: 100%;
  display: flex;
  column-gap: var(--col-gap--setting-basic);
}
.item__content.multiLine .option__content {
  flex-direction: column;
  row-gap: 12px;
}
.essential {
  color: var(--text-color--essntial);
  display: inline-block;
  margin-left: 4px;
}