.option__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color--default);
}
.option__content:last-child {
  padding-bottom: 0;
  border-bottom: none;
}