@import "../../_module";
.couple__info {
  @include flex__row;
  column-gap: 8px;
  width: 100%;
  .info {
    &__parentname {
      max-width: 100px;
    }
    &__parentnumber {
      max-width: 150px;
    }
  }
}