.calendar__img_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}
.calendar__img_item {
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--border-color--default);
  border-radius: var(--radius--default);
  overflow: hidden;
  background-color: #fff;
}