@import "../../_module";
.calendar__img_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
  .calendar__img_item {
    height: 130px;
    background: no-repeat center / contain;
    border-radius: $radius--default;
    border: 1px solid $border-color--default;
    background-color: #fff;
    overflow: hidden;
    &.active {
      border: 2px solid $point-color--fourth;
    }
  }
}
