.gift {
  border-bottom: none !important;
}
.gift > li {
  border-bottom: 1px dashed var(--border-color--default);
  padding-bottom: 24px;
}
.gift > li:last-child {
  border-bottom: none !important;
}
.input__group {
  width: 100%;
}