@import "../../_module";
.kakao__desc {
  @include flex__row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  @include device__query(tablet) {
    margin-top: 20px;
    justify-content: center;
  }
  button {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    border: none;
    background: transparent;
    img {
      width: 18px;
      height: 18px;
    }
    p {
      font-size: $font-size--setting-sm;
      font-weight: $font-weight--Regular;
      text-decoration: underline;
      cursor: pointer;
      @include device__query(tablet) {
        font-size: $font-size--setting-xsm;
      }
    }
  }
  
}