@import "../../_module";
.header {
  @include position(st, 0, 0, _, 0);
  width: 100%;
  height: 100px;
  border-bottom: 1px solid $border-color--default;
  background-color: #fff;
  z-index: 999;
  > div {
    @include flex__row;
    justify-content: space-between;
    align-items: center;
  }
  &__home {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 13px;
    img:first-child {
      width: 7px;
      height: 12px;
    }
    img:last-child {
      width: 24px;
      height: 24px;
    }
  }
  &__title {
    @include position(a, 50%, 50%);
    @include flex__column;
    row-gap: 6px;
    transform: translate(-50%, -50%);
    text-align: center;
    h2 {
      font-size: $font-size--lg;
      font-weight: $font-weight--SemiBold;
    }
    p {
      font-size: $font-size--ssm;
      color: $text-color--gray;
    }
  }
}