.add_btn {
  margin-top: 10px;
}
.option__list {
  width: 100%;
  margin-top: 5px;
  display: none;
}
.option__list.active {
  display: block;
}
.option__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  position: relative;
}


.txt__picker {
  width: 70px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--border-color--default);
  cursor: pointer;
}
.picker__active {
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 99;
  cursor: default;
}
.picker__input {
  display: block;
}
.picker__preset {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.preset__item {
  padding: 10px;
  border: none;
  box-shadow: none;
}
.txt__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}
.txt__wrapper input {
  width: calc(100% / 3);
  max-width: 120px;
}
.option__item.style__day .txt__wrapper input,
.option__item.style__txtarea .txt__wrapper textarea {
  width: 370px;
  max-width: 370px;
}