.tab__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 16px;
}
.tab__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: var(--font-size--sm);
  background-color: #FFF;
  border: 1px solid var(--bg-color--second);
  border-radius: var(--radius--button-list);
  color: var(--text-color--disable-input);
  cursor: pointer;
}
.tab__item.active {
  background-color: var(--button-color--default);
  color: #FFF;
}
.intro__selector {
  width: 100%;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
}
.intro__selector.active {
  display: flex;
}
.intro__item {
  width: calc((100% - 15px) / 4);
  height: 210px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--bg-color--second);
  background-color: var(--bg-color--second);
  border-radius: 4px;
}
.intro__item.active {
  border: 1px solid var(--button-color--default);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}
.intro__item img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}