.add_btn {
  margin-top: 10px;
}
.option__list {
  width: 100%;
  margin-top: 12px;
  display: none;
  row-gap: 8px;
}
.option__list.active {
  display: flex;
  flex-direction: column;
}
.option__item {
  display: flex;
  justify-content: c;
  align-items: center;
  column-gap: 8px;
  position: relative;
}

.txt__picker {
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--border-color--default);
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size--sm);
  background-color: #fff;
}
.txt__picker svg {
  pointer-events: none;
}
.picker__active {
  position: absolute;
  top: 0;
  left: 69px;
  z-index: 99;
  cursor: default;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: var(--radius--default);
}
.picker__input_wrap {
  width: 100%;
  position: relative;
}
.picker__input_wrap span {
  position: absolute;
  top: 50%;
  left: 26px;
  transform: translateY(-50%);
  color: var(--text-color--gray);
  font-weight: var(--font-weight--Regular);
  font-size: var(--font-size--sm);
}
.picker__input {
  display: block;
  width: 176px;
  height: 32px;
  padding: 0 14px 0 22px;
  margin: 11px auto 16px;
  border: 1px solid var(--border-color--default);
  border-radius: 4px;
  color: var(--text-color--gray);
  font-weight: var(--font-weight--Regular);
}
.picker__select {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color--default);
  border-radius: 999px;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.picker__preset {
  width: 176px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin: 0 auto 24px;
}
.preset__item {
  width: 24px;
  height: 24px;
  border: none;
  box-shadow: none;
  border-radius: 999px;
  position: relative;
}
.preset__item.active::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 999px;
}
.picker__button_wrapper {
  width: 176px;
  margin: 0 auto 12px;
}
.txt__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}
.txt__wrapper input {
  width: 100%;
  max-width: 326px;
  text-align: center;
}
/* .txt__wrapper.style__day input,
.txt__wrapper.style__txtarea textarea {
  width: 370px;
  max-width: 370px;
} */

