.file__selector {
  width: 100%;
  display: flex;
}
.file__wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.file__wrap p {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--border-color--default);  
  background-color: #fff;
  border-radius: var(--radius--default);
  font-size: var(--font-size--sm);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.file__wrap label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--Medium);
  flex-shrink: 0;
  background-color: var(--point-color--default);
  color: #FFF;
  border-radius: var(--radius--default);
}
.file__selector input[type="file"] {
  display: none;
}