.option__list > li {
  flex-direction: column;
  align-items: flex-start;
}

.order__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}
.order__item {
  width: calc((100% - 15px) / 4);
  height: 80px;
  border: 1px solid var(--border-color--default);
}
.order__item.fixed {
  background-color: var(--text-color--disable);
}