.option__list > li {
  flex-direction: column;
  align-items: flex-start;
}
.order__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 100%;
}
.order__item {
  height: 80px;
  border: 1px solid var(--border-color--default);
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;
  background-color: white;
  cursor: move;
}
.order__item.fixed {
  background-color: var(--text-color--disable);
  pointer-events: none;
  cursor: no-drop;
}