@import "../../_module";
.order {
  &__setting {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 8px;
    padding-top: 24px;
    margin-top: 11px;
    border-top: 1px solid $border-color--default;
    overflow: hidden;
    > div {
      @include position;
      min-height: 200px;
      padding: 8px;
      border-radius: $radius--default;
      border: 1px solid $border-color--default;
      background: #fff;
    }
  }
  &__wrapper {
    width: 100%;
  }
  &__item {
    @include position(a, 0, 50%);
    transform: translateX(-50%);
    @include flex__row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: $radius--default;
    color: #FFF;
    cursor: move;
    label,
    p {
      @include word__skip;
      color: #FFF;
    }
    input[type="checkbox"] {
      @include input__appearance;
      @include position;
      width: 16px;
      height: 16px;
      background: transparent url(../../../img/state/checkbox_color_selected.png) no-repeat center / 16px;
      z-index: 3;
      flex-shrink: 0;
    }
    &_title {
      @include flex__row;
      justify-content: center;
      align-items: center;
      column-gap: 5px;
      width: 100%;
      height: 32px;
      padding: 0 10px;
      font-size: $font-size--xsm;
      border-radius: $radius--default;
      background: $point-color--default;
    }
    &_wrap {
      @include position;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &_inner {
      z-index: -1;
    }
  }
}