@import "../../_module";
.option__list {
  @include flex__row;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  .option__item {
    @include position;
    width: 100%;
    max-width: 133px;
    height: 130px;
    border-radius: $radius--default;
    border: 1px solid $border-color--default;
    background: #FFF no-repeat center / cover;
    label {
      @include position;
      width: inherit;
      height: inherit;
      display: block;
      cursor: pointer;
    }
  }
}
.gallery {
  width: 100%;
  .option__item {
    @include position;
    width: 100%;
    max-width: 112px;
    height: 112px;
    background: #FFF no-repeat center / cover;
    order: 0;
    &:first-child {
      order: 999;
    }
  }
}
input[type="file"] {
  display: none;
}