.option__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}
.option__item {
  width: 100%;
  max-width: 133px;
  height: 130px;
  border: 1px solid var(--border-color--default);
  border-radius: var(--radius--default);
  background-color: #FFF;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
input[type="file"] {
  display: none;
}
.option__item label {
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  cursor: pointer;
}
.gallery {
  width: 100%;
}
.gallery .option__item {
  width: 100%;
  max-width: 112px;
  height: 112px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.gallery .option__item {
  order: 0;
}
.gallery .option__item:first-child {
  order: 999;
}