@import "../../_module";
.radio__wrap {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
  margin-top: 4px;
  @include device__query(tablet) {
    margin-top: 0px;
  }
  &.active {
    @include flex__row;
  }
  p {
    width: 100%;
    margin-bottom: 8px;
    padding-left: 4px;
    font-size: $font-size--xxsm;
    font-weight: $font-weight--Regular;
  }
  > div {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3px;
  }
}