.setting__item {
  width: 100%;
  /* overflow: hidden; */
  border-radius: 8px;
  border: 1px solid var(--border-color--default);
  background-color: var(--bg-color--setting);
}
/* .setting__item:not(:last-child) {
  margin-bottom: 10px;
} */
.setting__title {
  width: 100%;
  padding: 20px 24px;
  background-color: #FFF;
  border-radius: 8px;
}
.setting__item.active .setting__title {
  border-bottom: 1px solid var(--border-color--default);
  border-radius: 8px 8px 0px 0px;
}
.setting__title > p {
  font-weight: 600;
}
/* .arrow_img {
} */
.setting__content {
  /* height: 0px; */
  /* overflow: hidden; */
  transition: margin-top 0.4s, margin-bottom 0.4s;
}
.setting__item.active .setting__content {
  margin-top: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1rem;
}
.setting__item .setting__content .content {
  margin-top: 0rem;
  margin-bottom: 0rem;
  height: 0;
  visibility: hidden;
}
.setting__item.active .setting__content .content {
  height: 100%; 
  visibility: visible; 
}