.setting__item {
  width: 100%;
  max-width: 540px;
  border-radius: 8px;
  border: 1px solid var(--border-color--default);
  background-color: var(--bg-color--setting);
}
.setting__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #FFF;
  border-radius: 8px;
}
.setting__item.active .setting__title {
  border-bottom: 1px solid var(--border-color--default);
  border-radius: 8px 8px 0px 0px;
}
.setting__title > p {
  font-weight: var(--font-weight--SemiBold);
}
.setting_arrow_img {
  width: 32px;
  height: 32px;
  transition: var(--transition--fast);
  transform: rotateX(180deg);
}
.setting__item.active .setting_arrow_img {
  transform: rotateX(0);
}
.setting__content {
  transition: margin-top 0.4s, margin-bottom 0.4s;
}
.setting__item.active .setting__content {
  margin: 24px;
}
.setting__item .setting__content {
  margin-top: 0rem;
  margin-bottom: 0rem;
  height: 0;
  visibility: hidden;
}
.setting__item.active .setting__content {
  height: 100%; 
  visibility: visible; 
}