.tab__selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  row-gap: 3px;
  flex-wrap: wrap;
}
.selector__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  font-size: var(--font-size--xsm);
  background-color: #FFF;
  border: 1px solid var(--bg-color--second);
  border-radius: var(--radius--button-list);
  color: var(--text-color--disable-input);
  cursor: pointer;
}
.selector__item.active {
  background-color: var(--button-color--default);
  color: #FFF;
}