@import "../../_module";
.tab__selector {
  @include flex__row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px 5px;
  .selector__item {
    @include position;
    @include flex__row;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    padding: 8px 20px;
    font-size: $font-size--xsm;
    border-radius: $radius--button-list;
    border: 1px solid $bg-color--second;
    background-color: #FFF;
    cursor: pointer;
    @include device__query(tablet) {
      font-size: $font-size--xxsm;
      padding: 10px 16px;
    }
    span {
      color: $text-color--disable-input;
    }
    button {
      display: none;
    }
    &.active {
      background-color: $button-color--default;
      span {
        color: #FFF;
      }
      button {
        @include flex__row_inline;
      }
      &.tab {
        padding: 8px 13px 8px 20px;
      }
    }
  }
}