@import "../../_module";
.textarea {
  &__wrap {
    @include position;
    width: 100%;
    span {
      @include position(a, null, null, 10px, 12px);
      font-size: $font-size--xxsm;
      color: $text-color--disable-input;
      font-weight: $font-weight--Regular;
    }
  }
}