.traffic__wrap {
  width: 100%;
}
.traffic {
  row-gap: 24px !important;
}
.traffic li {
  border-bottom: 1px dashed var(--border-color--default);
  padding-bottom: 24px;
}
.traffic li:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
