.video__wrap > div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.input__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  /* margin-bottom: ; */
}
.input__wrap label {
  font-size: var(--font-size--xsm);
  font-weight: var(--font-weight--Regular);
  margin-top: 4px;
}
.video__reg {
  margin-top: 8px;
}