@import "../../_module";
.manage__item {
  @include flex__column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  &.active {
    filter: unset;
    pointer-events: all;
    :global {
      .MuiSwitch-root {
        opacity: 1;
      }
      .MuiTypography-root {
        color: $text-color--default;
      }
    }
    button {
      opacity: 1;
    }
  }
  &.disabled {
    filter: grayscale(1);
    pointer-events: none;
    :global {
      .MuiSwitch-root {
        opacity: 0.35;
      }
      .MuiTypography-root {
        color: #9E9E9E;
      }
    }
    button {
      opacity: 0.8;
      &:nth-of-type(2) {
        opacity: 0.3;
      }
    }
  }
  &_wrap {
    width: 100%;
    min-height: 455px;
    background-color: #FFF;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 20px;
    @include device__query(tablet) {
      padding: 40px 20px 20px;
    }
  }
  &_title {
    font-size: $font-size--setting-lg;
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 8px;
  }
  &_date {
    @include flex__row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    &_wrap {
      @include flex__row;
      justify-content: flex-start;
      column-gap: 20px;
      p {
        font-size: $font-size--setting-ssm;
        font-weight: 300;
        @include device__query(tablet) {
          font-size: $font-size--setting-sm;
        }
        &:nth-of-type(2) {
          @include position;
          &::after {
            @include position(a, 50%, -11px);
            transform: translateY(-50%);
            width: 2px;
            height: 14px;
            background-color: $border-color--default;
            content: "";
          }
        }
      }
    }
    &_delete {
      color: $text-color--essntial;
      font-weight: 300;
    }
    a {
      @include flex__row;
      justify-content: flex-end;
      align-items: center;
      span {
        font-size: $font-size--setting-ssm;
        font-weight: 500;
        color: #777;
        @include device__query(tablet) {
          font-size: $font-size--setting-sm;
        }
      }
      img {
        width: 24px;
        height: 24px;
        @include device__query(tablet) {
          margin-bottom: 2px;
        }
      }
    }
  }
  &_content {
    @include flex__row_inline;
    width: 100%;
    padding: 24px 0;
    margin-bottom: 6px;
    border-top: 1px solid $border-color--default;
    border-bottom: 1px solid $border-color--default;
    &_photo {
      max-width: 160px;
      max-height: 160px;
      border-radius: 8px;
      overflow: hidden;
      @include device__query(tablet) {
        max-width: 120px;
        max-height: 120px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &_info {
      padding: 12px 24px;
      @include device__query(tablet) {
        padding: 8px 16px;
      }
      p {
        font-size: $font-size--setting-sm;
        font-weight: 300;
        color: #929292;
        margin-bottom: 6px;
        line-height: 1em;
        @include device__query(tablet) {
          font-size: $font-size--setting-xsm;
        }
        span {
          display: inline-block;
          margin-left: 16px;
          font-weight: 400;
          color: #777;
        }
      }
      button {
        margin-top: 14px;
        @include device__query(tablet) {
          margin-top: 8px;
        }
      }
    }
  }
  :global {
    .MuiFormControlLabel-root {
      margin-left: 0 !important;
      span {
        font-size: $font-size--setting-ssm !important;
        font-weight: 400 !important;
        letter-spacing: 0 !important;
        padding: 0 !important;
      }
    }
    .MuiFormControlLabel-root {
      pointer-events: all !important;
    }
    .MuiSwitch-root {
      width: 40px !important;
      height: 20px;
      margin-left: 6px;
      border-radius: 999px;
      background: #DCDCDC !important;
      padding: 0;
    }
    .MuiSwitch-switchBase {
      top: 2px !important;
      left: 2px;
    }
    .MuiSwitch-switchBase .MuiSwitch-input {
      left: -100% !important;
      width: 100% !important;
    }
    .MuiSwitch-thumb {
      width: 16px !important;
      height: 16px !important;
      background-color: #FFF !important;
    }
    .MuiSwitch-track {
      background: $text-color--essntial !important;
      opacity: 1 !important;
    }
  }
}