@import "../../_module";
.sub__footer {
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid $border-color--default;
  * {
    font-size: var(--font-size--ssm);
  }
  &_wrapper {
    @include flex__column;
    justify-content: center;
    align-items: center;
    .logo {
      max-width: 172px;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
    .info {
      @include flex__column;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      * {
        font-weight: 300;
      }
      p {
        margin-top: 3px;
      }
    }
    ul {
      @include flex__row;
      justify-content: center;
      align-items: center;
      li {
        &:not(:first-child) {
          @include position;
          margin-left: 30px;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
            width: 1px;
            height: 9px;
            background-color: $text-color--default;
          }
        }
      }
    }
    .menu {
      font-weight: 600;
      li:not(:first-child)::after {
        width: 2px;
      }
    }
    .copy {
      margin-top: 30px;
      font-size: $font-size--xsm;
      font-weight: 300;
      opacity: 0.85;
      text-align: center;
    }
  }
}