@import "../../_module";
.sub__header {
  height: 88px;
  background: #FFF;
  border-bottom: 1px solid $border-color--default;
  @include device__query(tablet) {
    @include position(f, 0, 0, null, 0);
    z-index: 999;
    height: 60px;
  }
  &.active {
    .sub__header_wrapper {
      @include device__query(tablet) {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
      }
      > div {
        @include device__query(tablet) {
          @include position(a, 60px, 0, 0, 0);
          z-index: 998;
          background-color: #fff;
          min-height: 100dvh;
        }
      }
    }
    .sub__menu {
      @include device__query(tablet) {
        @include position(a, 60px, 0, 0, 0);
        display: block;
        width: 100%;
        transform: unset;
        padding: 24px 20px;
      }
      li {
        @include device__query(tablet) {
          height: unset;
        }
        a {
          @include device__query(tablet) {
          }
        }
      }
    }
    .sub__tool {
      @include device__query(tablet) {
        @include flex__row;
        justify-content: flex-start;
        padding: 20px 24px;
        border-bottom: 1px solid $border-color--default;
      }
    }
  }
  &_wrapper {
    @include position;
    @include flex__row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width--mngheader;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    .logo {
      width: 151px;
      height: 29px;
      @include device__query(tablet) {
        width: 112px;
        height: 18px;
      }
      img {
        width: 100%;
      }
    }
  }
}

.sub__menu {
  @include flex__row;
  @include position(a, 0, 50%);
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  column-gap: ratio(72, 1920);
  height: 100%;
  @include device__query(tablet) {
    display: none;
  }
  &_mo {
    background: transparent;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    img {
      width: 100%;
      height: 100%;
    }
  }
  > li {
    height: 100%;
    a {
      @include position;
      @include flex__row;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: $font-size--setting-default;
      font-weight: 600;
      white-space: nowrap;
      transition: $transition--morefast;
      &::after {
        @include device__query(notablet) {
          @include position(a, null, 0, 0);
          width: 100%;
          height: 3px;
          background-color: $theme-color--default;
          display: none;
          content: "";
        }
      }
      &.active,
      &:hover {
        @include device__query(notablet) {
          color: $theme-color--default;
        }
        &::after {
          @include flex__row;
          justify-content: center;
          animation: 0.3s ease menuActive;
        }
      }
    }
  }
}

.sub__tool {
  @include flex__row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  @include device__query(tablet) {
    display: none;
  }
  > li {
    &:first-child a {
      @include position;
      &::after {
        @include position(a, 50%, null, null, -10px);
        transform: translateY(-50%);
        width: 1px;
        height: 14px;
        background: $text-color--default;
        content: "";
      }
    }
    a {
      @include flex__row;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      span {
        font-size: $font-size--setting-sm;
        font-weight: 500;
        &:hover {
          color: $text-color--gray;
        }
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@keyframes menuActive {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}