@import "../../_module";
.sub__list {
  width: 100%;
  &_wrapper {
    width: 100%;
    ul {
      @include flex__column;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  &.type__ac,
  &.type__wd {
    ul {
      flex-direction: column;
    }
  }
}