@import "../../_module";
.sub__list_ltem {
  @include flex__row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color--default;
  width: 100%;
  > a {
    @include flex__row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 28px 32px;
    @include device__query(tablet) {
      @include flex__column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 26px 0;
      row-gap: 8px;
    }
  }
}

.info {
  @include flex__row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 32px;
  &.detail {
    @include flex__column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $border-color--default;
    padding-top: 32px;
    padding-bottom: 32px;
    .badge {
      margin-bottom: 30px;
      @include device__query(tablet) {
        margin-top: 40px;
        padding: 10px 18px;
      }
      p {
        @include device__query(tablet) {
          font-size: $font-size--setting-sm !important;
        }
      }
    }
    .title {
      @include device__query(tablet) {
        margin-left: 0;
        width: 60%;
      }
      p {
        font-size: 32px;
        @include device__query(tablet) {
          font-size: $font-size--setting-xl;
          text-align: center;
          word-break: keep-all;
          line-height: 1.4em;
        }
      }
    }
    .date {
      p {
        margin-top: 12px;
        @include device__query(tablet) {
          padding-left: 0;
        }
      }
    }
  }
  .index {
    p {
      font-size: $font-size--setting-ssm;
      color: #9E9E9E;
    }
  }
  .badge {
    padding: 10px 18px;
    border-radius: 8px;
    background: #F6F7F8;
    flex-shrink: 0;
    @include device__query(tablet) {
      padding: 7px 7px;
    }
    p {
      font-size: $font-size--setting-sm;
      font-weight: 600;
      color: #777;
      @include device__query(tablet) {
        font-size: $font-size--setting-xxsm;
      }
    }
  }
  .title {
    @include flex__row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -16px;
    p {
      font-size: $font-size--setting-sl;
      font-weight: 600;
      @include device__query(tablet) {
        font-size: $font-size--setting-default;
      }
    }
    img {
      width: 22px;
      height: 22px;
      margin-left: 8px;
      @include device__query(tablet) {
        width: 16px;
        height: 16px;
        margin-left: 3px;
      }
    }
  }
}
.date {
  p {
    font-size: $font-size--setting-sm;
    color: #9E9E9E;
    font-weight: 400;
    @include device__query(tablet) {
      padding-left: 50px;
    }
  }
}

.sub__content {
  width: 100%;
  border-top: 2px solid #2D2D2D;
  .content {
    border-bottom: 1px solid $border-color--default;
    padding: 40px;
    @include device__query(tablet) {
      padding: 32px 24px;
    }
    > p {
      word-break: break-all;
      line-height: 1.6em;
      font-size: $font-size--setting-ssm;
      font-weight: 500;
      > img {
        width: 100%;
        margin: 32px 0;
      }
      a {
        @include flex__row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 32px;
        column-gap: 8px;
        @include device__query(tablet) {
          column-gap: 6px;
        }
        img {
          width: 16px;
          height: 16px;
          @include device__query(tablet) {
            width: 18px;
            height: 18px;
          }
        }
        span {
          font-size: $font-size--setting-sm;
          color: #777;
        }
      }
    }
  }
}