@import "../../_module";
.sub__list_search {
  @include flex__row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 28px;
  border-bottom: 2px solid #2D2D2D;
  @include device__query(tablet) {
    @include flex__column;
    align-items: flex-end;
    row-gap: 40px;
    margin-top: 32px;
    padding-bottom: 16px;
  }
  &_total {
    font-size: $font-size--setting-default;
    font-weight: 500;
    span {
      color:  $text-color--essential;
    }
    @include device__query(tablet) {
      order: 1;
      padding-right: 4px;
      font-size: $font-size--setting-xsm;
    }
  }
  &_wrapper {
    @include position;
    width: 100%;
    max-width: 400px;
    @include device__query(tablet) {
      max-width: unset;
    }
    input {
      width: 100% !important;
      border-radius: 999px !important;
      background-color: #F6F7F8;
      border: none !important;
      font-size: $font-size--setting-ssm;
      padding-left: 30px !important;
      &::placeholder {
        color: #9E9E9E;
      }
      @include device__query(tablet) {
        order: 0;
        height: 48px !important;
      }
    }
    button {
      @include position(a, 50%, null, null, 30px);
      transform: translateY(-50%);
      border: none;
      outline: none;
      width: 20px;
      height: 20px;
      background-color: transparent;
      img {
        width: 100%;
      }
    }
  }
}

.type__wc {
  @include flex__column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 32px;
  padding-bottom: 48px;
  @include device__query(tablet) {
    row-gap: 24px;
    padding-bottom: 40px;
  }
  .sub__list_small {
    font-size: $font-size--setting-lg;
    @include device__query(tablet) {
      font-size: $font-size--setting-ssm;
    }
    span {
      color: $text-color--essential !important;
    }
  }
  .sub__list_large {
    font-size: 32px;
    font-family: "GowunBatang";
    font-weight: $font-weight--Medium;
    letter-spacing: -0.03em;
    line-height: 1.6em;
    @include device__query(tablet) {
      font-size: 18px;
    }
  }
}