@import "../../_module";
.sub__mng_list {
  width: 100%;
  max-width: 960px;
  background: #FFF;
  padding: 60px 48px;
  border-radius: 16px;
  margin: 0 auto 150px;
  @include device__query(tablet) {
    border-radius: 0;
    padding: 0 20px;
  }
  &_wrapper {
    width: 100%;
    @include device__query(tablet) {
      padding-top: 32px;
      border-top: 1px solid $border-color--default;
    }
    .tool {
      @include flex__row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 24px;
      @include device__query(tablet) {
        margin-bottom: 18px;
      }
      p {
        @include device__query(tablet) {
          order: 1;
          font-size: $font-size--setting-sm;
        }
        span {
          color: $text-color--essential;
        }
      }
    }
    .tool2 {
      @include flex__row;
      align-items: center;
      margin-top: 24px;
      @include position;
      > div {
        > div {
          @include position(a, 50%, 50%);
          transform: translate(-50%, -50%);
          margin-top: 0;
        }
      }
      @include device__query(tablet) {
        @include flex__column;
        row-gap: 12px;
        padding-bottom: 80px;
        width: 100%;
        button {
          font-size: $font-size--setting-sm !important;
          padding: 13px 0;
          flex-shrink: 1;
          margin-top: 0;
        }
        > div {
          > div {
            @include position(s);
            transform: unset;
          }
        }
      }
    }
    .mng__container {
      @include device__query(tablet) {
        @include flex__column;
        row-gap: 16px;
      }
      &_wrapper {
        display: grid;
        grid-template-columns: 1fr 2.2fr 1fr 1fr 1fr 1fr;
        width: 100%;
        @include device__query(tablet) {
          grid-template-columns: 1.2fr 3.2fr 5fr;
        }
      }
      &_header {
        width: 100%;
        padding: 16px 5px;
        place-items: center;
        border-radius: 12px;
        background: $bg-color--default;
        &_chkbox {
          @include flex__row;
          justify-content: center;
          align-items: center;
          @include device__query(tablet) {
            label {
              margin-left: 4px;
              font-size: $font-size--setting-sm;
            }
          }
        }
        > div {
          p, label {
            color: #777;
            font-weight: $font-weight--Medium;
            font-size: $font-size--setting-ssm;
          }
          label {
            margin-left: 8px;
          }
        }
      }
    }
  }
  &_item {
    padding: 28px 5px;
    place-items: center;
    border-bottom: 1px solid $border-color--default;
    @include device__query(tablet) {
      border: 1px solid $border-color--default;
      border-radius: 12px;
    }
    > div > span {
      font-family: "GmarketSansBold";
    }
    p.date {
      color: #9E9E9E;
      font-weight: $font-weight--Medium;
      font-size: $font-size--setting-ssm;
      @include device__query(tablet) {
        font-size: $font-size--setting-xsm !important;
        margin-bottom: 0;
      }
    }
    &_total {
      @include device__query(tablet) {
        @include flex__row;
        justify-content: center;
        align-items: flex-end;
        column-gap: 8px;
        > div {
          @include flex__column;
          justify-content: center;
          align-items: center;
          padding: 8px;
          background: $bg-color--default;
          border-radius: 8px;
          > span {
            &:first-of-type {
              border-bottom: 1px solid $border-color--default;
              padding-bottom: 8px;
              margin-bottom: 8px;
              color: #9E9E9E;
            }
            &:nth-of-type(2) {
              font-family: "GmarketSansBold";
            }
          }
        }
      }
    }
  }
  .sub__mng_no__center {
    @include flex__row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 16px;
    width: 100%;
    place-items: center start;
    padding-left: 30px;
    @include device__query(tablet) {
      @include flex__column;
      align-items: flex-start;
      padding-left: 10px;
    }
    > p {
      color: #9E9E9E;
      font-size: $font-size--setting-lg;
      @include device__query(tablet) {
        font-size: $font-size--setting-default;
        margin-bottom: 8px;
      }
      span:nth-child(2) {
        color: $text-color--essential;
      }
    }
  }
  .badge {
    padding: 10px 18px;
    border-radius: 8px;
    @include device__query(tablet) {
      margin-bottom: 8px;
      padding: 7px 6px;
    }
    &.typeF {
      background: #FFF3F1;
      p {
        color: #FF452D;
      }
    }
    &.typeM {
      background: #EEF4FD;
      p {
        color: #427CD4;
      }
    }
    p {
      font-size: $font-size--setting-ssm;
      @include device__query(tablet) {
        font-size: $font-size--setting-xxsm;
      }
    }
  }
  input {
    width: 20px;
    height: 20px;
    appearance: none;
    background: url(../../../img/state/checkbox_disabled.png) center / 24px;
    @include device__query(tablet) {
      background-size: 28px;
      width: 26px;
      height: 26px;
    }
    &:checked {
      background-image: url(../../../img/state/checkbox_selected.svg);
    }
  }
}