@import "../../_module";
.paging {
  @include device__query(tablet) {
    @include flex__row;
    justify-content: center;
    align-items: center;
  }
  &.content {
    @include device__query(tablet) {
      width: 100%;
    }
    .paging__wrapper {
      @include flex__row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @include device__query(tablet) {
        @include flex__column;
        margin-top: 0;
      }
      .paging__item {
        @include flex__row;
        width: calc(100% / 3);
        @include device__query(tablet) {
          width: 100%;
          padding: 16px 4px;
          border-bottom: 1px solid $border-color--default;
        }
        &.menu__button {
          width: 58px;
          height: 58px;
          flex-shrink: 0;
          @include device__query(tablet) {
            order: 1;
            width: unset;
            height: unset;
            border-bottom: none;
            margin-top: 24px;
          }
          a {
            @include device__query(tablet) {
              width: 180px;
              height: 48px;
            }
          }
          span {
            @include device__query(tablet) {
              color: #FFF;
            }
          }
        }
        &:first-child {
          a {
            justify-content: flex-start;
          }
        }
        &:last-child {
          a {
            justify-content: flex-end;
            @include device__query(tablet) {
              justify-content: flex-start;
            }
            span {
              @include device__query(tablet) {
                order: 1;
              }
            }
          }
        }
        a {
          @include flex__row;
          justify-content: center;
          align-items: center;
          width: 100%;
          column-gap: 16px;
          @include device__query(tablet) {
            column-gap: 8px;
          }
          span {
            @include device__query(tablet) {
              font-size: $font-size--setting-sm;
            }
            &.disabled {
              color: #9E9E9E;
            }
          }
        }
      }
    }
  }
  &__wrapper {
    @include flex__row;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      margin-top: 80px;
    }
  &__item {
    a {
      @include flex__row;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
      color: #707070;
      font-weight: 500;
      flex-shrink: 0;
      @include device__query(tablet) {
        height: unset;
      }
      img {
        width: 100%;
      }
      &.active {
        width: 58px;
        height: 58px;
        border-radius: 999px;
        color: #FFF;
        background: $text-color--essential;
        flex-shrink: 0;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  button {
    @include device__query(tablet) {
      font-size: $font-size--setting-default;
      font-weight: 600;
      color: #FFF;
      border-radius: 999px;
      padding: 16px 43px;
      border: none;
      outline: none;
      margin-top: 56px;
      background: $text-color--essential;
    }
  }
}

.badge {
  @include flex__row;
  justify-content: center;
  align-items: center;
  font-size: $font-size--setting-sm;
  padding: 10px 18px;
  background: #F6F7F8;
  border-radius: 8px;
  flex-shrink: 0;
  @include device__query(tablet) {
    font-size: $font-size--setting-xxsm;
    padding: 7px 8px;
  }
}