@import "../../_module";
.sub__side_menu {
  @include position(st, 0, 0);
  @include device__query(tablet) {
    @include position(s);
    width: 100%;
  }
  &_wrapper {
    width: 360px;
    flex-shrink: 1;
    @include device__query(tablet) {
      width: 100%;
    }
    ul {
      @include flex__column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 16px;
      @include device__query(tablet) {
        @include flex__row;
        width: 100%;
      }
      li {
        @include device__query(tablet) {
          width: calc(100% / 3);
        }
        a {
          font-size: $font-size--setting-lg;
          font-weight: 700;
          color: #525252;
          @include device__query(tablet) {
            @include flex__row;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: $font-size--setting-sm;
            padding: 8px 0;
          }
          &.active {
            color: $text-color--essential;
            @include device__query(tablet) {
              border-bottom: 2px solid $text-color--essential;
            }
          }
        }
      }
    }
  }
}