@import "../../_module";
.sub__side_menu {
  @include position(st, 0, 0);
  &_wrapper {
    width: 360px;
    flex-shrink: 1;
    ul {
      @include flex__column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 16px;
      li {
        a {
          font-size: 20px;
          font-weight: 700;
          color: #525252;
          &.active {
            color: $text-color--essntial;
          }
        }
      }
    }
  }
}