@import "../../_module";
.sub__title_notice {
  width: 100%;
  margin-top: 40px;
  @include device__query(tablet) {
    margin-top: 20px;
  }
  &_wrap {
    ul {
      @include flex__column;
      justify-content: center;
      align-items: center;
      @include device__query(tablet) {
        justify-content: center;
        align-items: flex-start;
        padding: 0 24px;
      }
      li {
        @include flex__row;
        justify-content: center;
        align-items: flex-start;
        column-gap: 5px;
        span {
          line-height: 1.5em;
          font-weight: 400;
          color: #525252;
          word-break: keep-all;
          @include device__query(tablet) {
            font-size: $font-size--setting-sm;
          }
          b {
            color: $text-color--essential;
            font-weight: 700;
          }
        }
      }
    }
  }
}