@import "../../_module";
.sub__title {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200vh;
  &_wrap {
    @include flex__column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    width: 100%;
    max-width: $max-width--mng;
    padding: 0 20px;
    margin: 0 auto;
    @include device__query(tablet) {
      margin: unset;
      justify-content: flex-start;
    }
    h2 {
      line-height: 1em;
      font-size: 48px;
      font-family: "SeoulHangang";
      @include device__query(tablet) {
        font-size: 26px;
        padding-left: 4px;
      }
    }
  }
  &_photo {
    width: 100%;
    max-height: 80vh;
    min-height: 380px;
    max-width: 800px;
    margin: 60px auto 100px;
    transition: 0.5s linear all;
    background-image: url("");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1920px;
    // img {
    //   width: 100%;
    //   border-radius: 36px;
    // }
  }
}