@import "../../_module";
.sub__title {
  width: 100%;
  padding-top: 100px;
  @include device__query(notablet) {
    margin-top: 87px;
  }
  @include device__query(tablet) {
    padding-top: 60px;
    margin-top: 60px;
  }
  &_wrap {
    @include flex__column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    width: 100%;
    max-width: $max-width--mng;
    padding: 0 20px;
    margin: 0 auto;
    @include device__query(tablet) {
      margin: unset;
      align-items: flex-start;
    }
    h2 {
      line-height: 1em;
      font-size: 48px;
      font-family: "SeoulHangang";
      @include device__query(tablet) {
        font-size: 26px;
        padding-left: 4px;
      }
    }
  }
  &_photo {
    width: 100%;
    max-height: 80vh;
    min-height: 340px;
    max-width: 800px;
    margin: 60px auto 100px;
    transition: 0.2s linear all;
    background-color: #FFF;
    background-image: url("");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1920px;
    @include device__query(tablet) {
      width: 100%;
      max-width: 70%;
      max-height: 20vh;
      min-height: 60px;
      margin: 32px auto;
      background-size: cover;
    }
  }
}