* {
  &::placeholder {
    color: $text-color--placeholder;
    font-weight: $font-weight--Regular;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-scrollbar {
    width: 6px; 
    &-thumb {
      width: 100%;
      background: #D1D6DB;
      border-radius: 6px;
    }
    &-track {
      background: #F9FAFB;
    }
  }
}
html {
  font-size: var(--font-size--base);
}
html, body {
  touch-action: var(--touch-option);
}
body {
  overscroll-behavior-y: contain !important;
}
.container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  @include device__query(tablet) {
    @include position;
    height: unset;
  }
}
/* STYLE */
/* .setting_input__style_default */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
textarea,
select {
  border: 1px solid $border-color--default;
  border-radius: $radius--default;
  padding: 10px;
  width: 100%;
  height: 40px;
}
select {
  padding-right: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
input {
  font-size: $font-size--sm;
  font-weight: $font-weight--Regular;
  color: #666;
  background: #FFF;
  @include device__query(tablet) {
    font-size: $font-size--xsm;
  }
  &[type="date"] {
    @include input__appearance;
    width: 100%;
    max-width: 160px;
    position: relative;
    &::-webkit-calendar-picker-indicator {
      @include position(a, 50%, null, null, 0);
      transform: translateY(-50%);
      width: 38px;
      height: 38px;
      padding: 0;
      background: url(../img/icon/icon_input_date.png) no-repeat center / 32px;
      border-left: 1px solid $border-color--default;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  &[type="radio"] {
    @include input__appearance;
    width: 24px;
    height: 24px;
    background: url(../img/state/radiobox_disabled.svg) no-repeat center / cover;
    + label {
      font-size: $font-size--sm;
      font-weight: $font-weight--Regular;
      color: $text-color--disable-input;
    }
    &:checked {
      background-image: url(../img/state/radiobox_selected.svg);
      + label {
        color: $text-color--default;
      }
    }
  }
}
input[type="date"] {
  text-align: left !important;
}
textarea {
  resize: none;
  height: 84px;
  font-weight: $font-weight--Regular;
  color: #666;
}
/* PICKER */
.react {
  &-colorful {
    height: unset !important;
    &__saturation {
      height: 92px;
    }
    &__hue {
      width: 176px;
      height: 8px !important;
      border-radius: 999px !important;
      margin: 19px auto 0;
    }
    &__pointer {
      width: 14px !important;
      height: 14px !important;
      border: 1px solid $border-color--gray !important;
      background-color: $bg-color--picker !important;
      &-fill {
        background-color: rgba(255, 255, 255, 0.7) !important;
      }
    }
  }
}
/* Material UI Modal */
.MuiModal-root {
  z-index: 999999 !important;
}
.MuiSnackbar-root {
  width: 90%;
  max-width: 290px;
  justify-content: center !important;
  left: 50% !important;
  right: auto;
  bottom: 70px !important;
  transform: translateX(-50%);
  // mix-blend-mode: multiply !important;
  z-index: 2147483647 !important;
}
.MuiSnackbarContent-root {
  justify-content: center;
  padding: 15px 16px !important;
  background-color: var(--toast-bgcolor, #7197CF) !important;
  border-radius: 999px !important;
  box-shadow: unset !important;
}
.MuiSnackbarContent-message {
  padding: 0 !important;
  .mui-message {
    @include flex__row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: #FFF !important;
    text-align: center !important;
    font-family: $font-family--default;
    font-weight: $font-weight--Regular !important;
    font-size: $font-size--default;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

/* Material UI Calendar */
.calendar__wrap {
  .MuiPickersCalendarHeader-root {
    display: none !important;
  }
  .MuiDateCalendar-root {
    width: 100%;
    height: unset !important;
  }
  .MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition {
    height: unset !important;
    min-height: unset !important;
    > * {
      position: static;
    }
  }
  .MuiDayCalendar-header {
    > span {
      &:first-of-type {
        color: $point-color--default !important;
      }
      &:last-of-type {
        color: $text-color--blue !important;
      }
    }
  }
  .MuiDayCalendar-weekContainer {
    > * {
      &:first-child {
        color: $point-color--default;
      }
      &:last-child {
        color: $text-color--blue;
      }
    }
  }
  .MuiDayCalendar-weekDayLabel {
    width: 42px !important;
    height: 42px !important;
  }
  .MuiPickersDay-today {
    color: #FFF !important;
    border: none !important;
    background: $text-color--placeholder !important;
  }
  .MuiButtonBase-root.MuiPickersDay-root {
    width: 42px !important;
    height: 42px !important;
  }
  .MuiPickersDay-root {
    width: 42px !important;
    height: 42px !important;
  }
  .Mui-selected {
    background: $point-color--third !important;
    color: #FFF !important;
  }
}
.modalSwiper {
  .swiper-slide {
    border-radius: 8px;
    overflow: hidden;
  }
  .swiper-button-lock {
    display: inline-block;
    opacity: 0.3;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin: 0 auto;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 12px;
  }
  .swiper-button-prev:after, 
  .swiper-button-next:after {
    content: "";
  }
  .swiper-button-prev {
    background: url("../img//icon/icon_btn_slide_left.png") no-repeat 50% / 40px;
  }
  .swiper-button-next {
    margin-left: 16px;
    background: url("../img//icon/icon_btn_slide_right.png") no-repeat 50% / 40px;
  }
}