* {
  &::placeholder {
    color: $text-color--placeholder;
    font-weight: $font-weight--Regular;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-scrollbar {
    width: 6px; 
    &-thumb {
      width: 100%;
      background: #D1D6DB;
      border-radius: 6px;
    }
    &-track {
      background: #F9FAFB;
    }
  }
}
html {
  font-size: var(--font-size--base);
}
html, body {
  touch-action: var(--touch-option);
}
.container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px;
}
/* STYLE */
/* .setting_input__style_default */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
textarea,
select {
  border: 1px solid $border-color--default;
  border-radius: $radius--default;
  padding: 10px;
  width: 100%;
  height: 40px;
}
input {
  font-size: $font-size--sm;
  font-weight: $font-weight--Regular;
  color: #666;
  &[type="date"] {
    @include input__appearance;
    width: 100%;
    max-width: 160px;
    position: relative;
    &::-webkit-calendar-picker-indicator {
      @include position(a, 50%, null, null, 0);
      transform: translateY(-50%);
      width: 38px;
      height: 38px;
      padding: 0;
      background: url(../img/icon/icon_input_date.png) no-repeat center / 32px;
      border-left: 1px solid $border-color--default;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  &[type="radio"] {
    @include input__appearance;
    width: 24px;
    height: 24px;
    background: url(../img/state/radiobox_disabled.svg) no-repeat center / cover;
    + label {
      font-size: $font-size--sm;
      font-weight: $font-weight--Regular;
      color: $text-color--disable-input;
    }
    &:checked {
      background-image: url(../img/state/radiobox_selected.svg);
      + label {
        color: $text-color--default;
      }
    }
  }
}
textarea {
  resize: none;
  height: 84px;
  font-weight: $font-weight--Regular;
  color: #666;
}
/* PICKER */
.react {
  &-colorful {
    height: unset !important;
    &__saturation {
      height: 92px;
    }
    &__hue {
      width: 176px;
      height: 8px !important;
      border-radius: 999px !important;
      margin: 19px auto 0;
    }
    &__pointer {
      width: 14px !important;
      height: 14px !important;
      border: 1px solid $border-color--gray !important;
      background-color: $bg-color--picker !important;
      &-fill {
        background-color: rgba(255, 255, 255, 0.7) !important;
      }
    }
  }
}
/* Material UI */
.MuiModal-root {
  z-index: 13000 !important;
}
.MuiSnackbar-root {
  justify-content: center !important;
  left: 50% !important;
  right: auto;
  bottom: 70px !important;
  transform: translateX(-50%);
  mix-blend-mode: multiply !important;
  z-index: 2147483647 !important;
}
.MuiSnackbarContent-root {
  justify-content: center;
  padding: 15px 16px !important;
  background-color: var(--toast-bgcolor, #7197CF) !important;
  border-radius: 999px !important;
  box-shadow: unset !important;
}
.MuiSnackbarContent-message {
  padding: 0 !important;
  .mui-message {
    @include flex__row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: #FFF !important;
    text-align: center !important;
    font-family: $font-family--default;
    font-weight: $font-weight--Regular !important;
    font-size: $font-size--default;
    img {
      width: 18px;
      height: 18px;
    }
  }
}
