/* Pretendard - ExtraLight */
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
}
/* Pretendard - Light */
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
/* Pretendard - Regular */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
/* Pretendard - Medium */
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
/* Pretendard - SemiBold */
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
/* Pretendard - Bold */
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
/* Pretendard - ExtraBold */
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
/* SeoulHangang - Light */
// @font-face {
//   font-family: 'SeoulHangang';
//   src: url('../font/SeoulHangang/SeoulHangangL.ttf') format('truetype');
//   font-weight: 400;
// }
/* SeoulHangang - Medium */
@font-face {
  font-family: 'SeoulHangang';
  src: url('../font/SeoulHangang/SeoulHangangM.ttf') format('truetype');
  font-weight: 500;
}
/* SeoulHangang - Bold */
// @font-face {
//   font-family: 'SeoulHangang';
//   src: url('../font/SeoulHangang/SeoulHangangEB.ttf') format('truetype');
//   font-weight: 700;
// }
/* SeoulHangang - ExtraBold */
// @font-face {
//   font-family: 'SeoulHangangEB';
//   src: url('../font/SeoulHangang/SeoulHangangEB.ttf') format('truetype');
//   font-weight: 800;
// }