* {
  margin: 0;
  padding: 0;
  font-family: $font-family--default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  font-weight: $font-weight--Medium;
  color: $text-color--default;
}
p, h1, h2, h3, h4, h5, h6, span {
  margin: 0;
  padding: 0;
  transform: rotate(0.04deg);
}
ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: block;
  image-rendering: auto;
  -webkit-user-drag: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  color: $text-color--default;
}
/* SAFARI MOBILE BUTTON APPEARANCE */
textarea,
button {
  @include input__appearance;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
button {
  cursor: pointer;
}
/* INPUT TYPE NUMBER SPINNER APPEARANCE */
input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include input__appearance;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}