        
.view {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  /* max-width: 1240px; */
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px;
}
.content__wrapper {
  width: 100%;
  /* padding: 14px;
  border: 1px solid var(--border-color--default); */
}