@charset "utf-8";
:root {
  /* COLOR */
  --text-color--default: #181A1B;
  --text-color--gray: rgba(0, 0, 0, 0.55);
  --text-color--disable: #7A7A7A;
  --text-color--pink: #FBCBCF;
  --text-color--temp: #484848;
  --text-color--temp-gray: #939393;

  --point-color--default: #FFF;
  --point-color--second: #EDEDED;

  --bg-color--default: #F8F8F8;
  --bg-color--second: #F0F1F1;
  --bg-color--invite: #FFF;

  --border-color--default: #E7EBEE;
  --border-color--second: #E8E8E8;

  --button-color--default: #182D4B;
  --button-color--template: #FF6550;
  --button-color--template-off: #E7E7E7;

  /* FONT */
  --font-family--default: "Pretendard";
  --font-family--point: "Noto Serif KR", serif;
  
  /* FONT-SIZE */
  --font-size--section-title: 50px;
  --font-size--xl: 24px;
  --font-size--lg: 20px;
  --font-size--sl: 18px;
  --font-size--default: 16px;
  --font-size--ssm: 15px;
  --font-size--sm: 14px;
  --font-size--xsm: 13px;
  
  --font-size--couple-name: 27px;
  --font-size--temp-lg: 20px;
  --font-size--temp-sl: 18px;
  --font-size--temp-default: 16px;
  --font-size--temp-ssm: 15px;
  --font-size--temp-sm: 12px;
  --font-size--temp-xsm: 11px;

  /* WIDTH */
  --width--min: 460px;
  --width--max: 1320px;

  --width-pc: 1800;
  --width-notebook: 1799;
  --width-tablet: 1199;
  --width-mobile: 599;
  --width-mobile-basic: 375;

  /* PADDING */
  --padding--default: 0 20px;
  --padding--mobile: 24px;

  /* TRANSITION */
  --transition--fast: 0.3s linear all;
  --transition--default: 0.5s linear all;
  --transition--template: .42s ease all;

  /* BORDER-RADIUS */
  --radius--floatmenu: 8px;
}

/* device == "pc" */
@media screen and (min-width: 1800px) {
  /* @content; */
}

/* device == "notebook" */
@media screen and (max-width: 1799px) {
  /* @content; */
}

/* device == "tablet" */
/* clamp 35%, 90% */
@media screen and (max-width: 1199px) {
  :root {
    --font-size--section-title: clamp(28px, calc(50 / var(--width-tablet) * 100vw), 45px);
    --font-size--xl: clamp(16px, calc(24 / var(--width-tablet) * 100vw), 19px);
    --font-size--lg: clamp(15.5px, calc(20 / var(--width-tablet) * 100vw), 18px);
    --font-size--sl: clamp(14px, calc(18 / var(--width-tablet) * 100vw), 17px);
    --font-size--default: clamp(13.5px, calc(16 / var(--width-tablet) * 100vw), 16px);
    --font-size--ssm: clamp(13px, calc(15 / var(--width-tablet) * 100vw), 15px);
    --font-size--sm: clamp(12px, calc(14 / var(--width-tablet) * 100vw), 14px);
    --font-size--xsm: clamp(11px, calc(12 / var(--width-tablet) * 100vw), 12px);
  }
  /* @content; */
}

/* device == "mobile" */
@media screen and (max-width: 599px) {
  /* @content; */
  :root {
    --font-size--section-title: 24px;
    --font-size--xl: 17px;
    --font-size--lg: 15px;
    --font-size--sl: 14px;
    --font-size--default: 14.6px;
    --font-size--ssm: 14px;
    --font-size--sm: 14px;
    --font-size--xsm: 12px;
    --font-size--xxsm: 10px;

    /* PADDING */
    --padding--default: 0 23px;
  }
}
