@charset "utf-8";
:root {
  /* COLOR */
  --text-color--default: #191F28; /* */
  --text-color--gray: #5B6470; /* */
  --text-color--disable: #7A7A7A; /* */
  --text-color--essntial: #FF6550; /* */
  --text-color--placeholder: #B9C0C7; /* */

  --text-color--temp: #484848;

  --point-color--default: #FFF;
  --point-color--second: #EDEDED;

  --bg-color--default: #F6F7F8; /* */

  --bg-color--second: #F0F1F1;
  --bg-color--invite: #FFF;
  --bg-color--setting: #F9FAFB; /* */

  --border-color--default: #E5E8EB; /* */

  --button-color--default: #182D4B; /* */

  /* FONT */
  --font-family--default: "Pretendard";
  --font-family--point: "Noto Serif KR", serif;
  
  /* FONT-SIZE */
  --font-size--section-title: 50px;
  --font-size--xl: 24px;
  --font-size--lg: 20px;
  --font-size--sl: 18px;
  --font-size--default: 16px;
  --font-size--ssm: 15px;
  --font-size--sm: 14px;
  --font-size--xsm: 13px;
  
  --font-size--couple-name: 27px;
  --font-size--temp-lg: 20px;
  --font-size--temp-sl: 18px;
  --font-size--temp-default: 16px;
  --font-size--temp-ssm: 15px;
  --font-size--temp-sm: 12px;
  --font-size--temp-xsm: 11px;

  /* WIDTH */
  --width--min: 460px;
  --width--max: 1320px;

  --width-pc: 1800;
  --width-notebook: 1799;
  --width-tablet: 1199;
  --width-mobile: 599;
  --width-mobile-basic: 375;

  /* PADDING */
  --padding--default: 0 20px;
  --padding--mobile: 24px;

  /* TRANSITION */
  --transition--fast: 0.3s linear all;
  --transition--default: 0.5s linear all;
  --transition--template: .42s ease all;

  /* BORDER-RADIUS */
  --radius--default: 8px; /* */
  --radius--button-list: 999px; /* */
}

/* device == "pc" */
@media screen and (min-width: 1800px) {
  /* @content; */
}

/* device == "notebook" */
@media screen and (max-width: 1799px) {
  /* @content; */
}

/* device == "tablet" */
/* clamp 35%, 90% */

