.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--SemiBold);
  flex-shrink: 0;
}
.default {
  background-color: #FFF;
  color: var(--text-color--default);
  border: 1px solid var(--button-color--default);
  border-radius: var(--radius--default);
}
.primary {
  background-color: var(--button-color--default);
  color: #FFF;
  border-radius: var(--radius--default);
}
.point {
  background-color: var(--point-color--default);
  color: #FFF;
  border-radius: var(--radius--default);
  font-weight: var(--font-weight--Medium);
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  color: var(--button-color--default);
  background-image: url(../../../img/icon/icon_close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border-radius: 999px;
}

.modify {
  padding: 5px 0;
  font-weight: var(--font-weight--Regular);
  position: relative;
  padding-right: 28px;
  background-color: transparent;
  background-image: url(../../../img/icon/icon_textmodify_arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;
}
.picker {
  width: 50%;
  border-radius: var(--radius--default);
  font-weight: var(--font-weight--Medium);
  font-size: var(--font-size--xsm);
  padding: 9px 0px;
}
.picker:first-child {
  background-color: var(--button-color--cancel);
  color: var(--text-color--gray);
}
.picker:last-child {
  background-color: var(--point-color--default);
  color: #FFF;
}

.sample__view {
  max-width: 108px;
  height: 40px;
  margin-left: 12px;
  padding: 5px 0;
  font-weight: var(--font-weight--Regular);
  position: relative;
  padding-left: 28px;
  background-color: transparent;
  background-image: url(../../../img/icon/icon_textmodify_arrow.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 24px;
}
.file__delete {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../img/icon/icon_close.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 24px;
}
.traffic__delete {
  max-width: 105px;
  padding: 0 0 0 28px;
  margin-top: 12px;
  background-color: transparent;
  background-image: url(../../../img/icon/icon_remove.png);
  background-repeat: no-repeat;
  background-position: left 4px center;
  background-size: 24px;
  font-weight: var(--font-weight--Regular);
}