@import "../../_module";
.button__wrapper {
  @include flex__row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  &.center {
    @include flex__row;
    justify-content: center;
    align-items: center;
    width: 100%;
    &fill {
      width: calc(100% - 8px);
      margin-top: 18px;
      button {
        width: 50%;
      }
    }
  }
}