@import "../../_module";
.btn {
  @include flex__row_inline;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 24px;
  font-size: $font-size--sm;
  font-weight: $font-weight--SemiBold;
  border: none;
  @include device__query(tablet) {
    padding: 8px 24px;
    font-size: $font-size--xxsm;
  }
  &.default {
    font-size: $font-size--setting-sm;
    border-radius: $radius--default;
    border: 1px solid $button-color--default;
    background-color: #FFF;
    color: $text-color--default;
    @include device__query(tablet) {
      border-radius: $radius--default-sm;
      font-size: $font-size--setting-xsm;
    }
  }
  &.primary {
    font-size: $font-size--setting-sm;
    border-radius: $radius--default;
    border: 1px solid $button-color--default;
    background-color: $button-color--default;
    color: #FFF;
    @include device__query(tablet) {
      border-radius: $radius--default-sm;
      font-size: $font-size--setting-xsm;
    }
  }
  &.point {
    font-size: $font-size--setting-sm;
    font-weight: $font-weight--Medium;
    border-radius: $radius--default;
    background-color: $point-color--default;
    color: #FFF;
    @include device__query(tablet) {
      font-size: $font-size--setting-xxsm;
    }
  }
  &.cancel {
    border-radius: $radius--default;
    background-color: $button-color--cancel;
    color: $text-color--gray;
  }
  &.close {
    @include position(a, 0, null, null, 0);
    @include flex__row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 1em;
    border-radius: 999px;
    background: transparent url(../../../img/icon/icon_close.png) no-repeat center / cover;
    color: $button-color--default;
  }
  &.modify {
    @include position;
    padding: 5px 28px 5px 0;
    font-size: $font-size--setting-sm;
    font-weight: $font-weight--Regular;
    background: transparent url(../../../img/icon/icon_textmodify_arrow.png) no-repeat right / 24px;
    @include device__query(tablet) {
      font-size: $font-size--setting-xsm;
    }
  }
  &.modifyActive {
    @include position;
    padding: 5px 28px 5px 0;
    font-size: $font-size--setting-sm;
    font-weight: $font-weight--Regular;
    background: transparent url(../../../img/icon/icon_textmodify_arrow_r.png) no-repeat right / 24px;
    @include device__query(tablet) {
      font-size: $font-size--setting-xsm;
    }
  }
  &.picker {
    width: calc((100% - 8px) / 2);
    padding: 9px 0px;
    border-radius: $radius--default;
    font-weight: $font-weight--Medium;
    font-size: $font-size--setting-xsm;
    &:first-child {
      background-color: $button-color--cancel;
      color: $text-color--gray;
    }
    &:last-child {
      background-color: $point-color--default;
      color: #FFF;
    }
  }
  &.sample__view {
    @include position;
    max-width: 108px;
    height: 40px;
    padding: 5px 0 5px 28px;
    margin-left: 12px;
    font-size: $font-size--setting-sm;
    font-weight: $font-weight--Regular;
    background: transparent url(../../../img/icon/icon_add.png) no-repeat left / 24px;
    @include device__query(tablet) {
      font-size: $font-size--setting-xsm;
    }
  }
  &.add {
    @include position;
    max-width: 108px;
    padding: 0 0 0 28px;
    font-size: $font-size--setting-sm;
    font-weight: $font-weight--Regular;
    background: transparent url(../../../img/icon/icon_add.png) no-repeat left / 24px;
    @include device__query(tablet) {
      padding: 2px 0 2px 28px;
      font-size: $font-size--setting-xsm;
    }
  }
  &.file__delete {
    width: 24px;
    height: 24px;
    padding: 0;
    background: transparent url(../../../img/icon/icon_close.png) no-repeat left / 24px;
  }
  &.remove {
    max-width: 105px;
    padding: 0 0 0 28px;
    margin-top: 4px;
    font-size: $font-size--setting-sm;
    font-weight: $font-weight--Regular;
    background: transparent url(../../../img/icon/icon_remove.png) no-repeat left 4px center / 24px;
    @include device__query(tablet) {
      font-size: $font-size--setting-xsm;
    }
  }
  &.tab__delete {
    @include flex__row;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    padding: 0;
    line-height: 1em;
    border-radius: 999px;
    background: transparent url(../../../img/icon/icon_item_delete.png) no-repeat center / 16px;
    color: $button-color--default;
  }
  &.header__preview {
    @include flex__row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 1em;
    border-radius: 999px;
    background: transparent url(../../../img/icon/icon_btn_close_white.png) no-repeat center / cover;
  }
  &.invitation {
    &__default {
      padding: 12.5px 32px 12.5px 32px;
      border-radius: 999px;
      background: $button-color--default;
      color: #FFF;
      font-family: var(--font-family--theme);
      font-weight: 600;
      font-size: $font-size--ssm;
    }
    &__close {
      @include position(a, 15px, null, null, 15px);
      @include flex__row;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      padding: 0;
      line-height: 1em;
      border-radius: 999px;
      z-index: 999;
      background: transparent url(../../../img/icon/icon_close.png) no-repeat center / 24px;
    }
    &__call {
      padding: 15px 32px 15px 56px;
      border-radius: 999px;
      background: $button-color--default url(../../../img/icon/icon_call.png) no-repeat 32px center / 18px;
      color: #FFF;
      font-weight: 600;
      font-size: $font-size--default;
    }
    &__map {
      padding: 15px 32px 15px 56px;
      border-radius: 999px;
      background: $button-color--cancel url(../../../img/icon/icon_map.png) no-repeat 32px center / 18px;
      color: $text-color--default;
      font-weight: 600;
      font-size: $font-size--default;
    }
    &__gallery_view {
      padding: 15px 56px 15px 32px;
      border-radius: 999px;
      background: $button-color--cancel url(../../../img/icon/icon_btn_arrow_down.png) no-repeat right 32px center / 18px;
      color: $text-color--default;
      font-weight: 600;
      font-size: $font-size--default;
    }
    &__kakao {
      width: 48px;
      height: 20px;
      padding: 0;
      background: url(../../../img/icon/icon_account_kakao.png) no-repeat center / 100%;
    }
    &__copy {
      padding: 7.5px 29px 7.5px 9px;
      border-radius: 4px;
      background: #FFF url(../../../img/icon/icon_copy.png) no-repeat right 8px center / 17px;
      color: $text-color--default;
      font-weight: 600;
      font-size: $font-size--xsm !important;
      border: 1px solid $border-color--default;
    }
    &__reg {
      padding: 15px 32px 15px 56px;
      border-radius: 999px;
      background: $button-color--default url(../../../img/icon/icon_reg.png) no-repeat 32px center / 18px;
      color: #FFF;
      font-weight: 600;
      font-size: $font-size--default;
    }
    &__guest_remove {
      width: 18px;
      height: 18px;
      padding: 0;
      background: url(../../../img/icon/icon_guest_remove.png) no-repeat center / 18px;
    }
    &__attend {
      padding: 15px 32px 15px 56px;
      border-radius: 999px;
      background: $button-color--default url(../../../img/icon/icon_attend.png) no-repeat 32px center / 18px;
      color: #FFF;
      font-weight: 600;
      font-size: $font-size--default;
    }
  }
  .tab2 {
    display: block;
  }
  &.manage {
    padding: 9.5px 18px;
    background-color: $button-color--default;
    color: #FFF;
    font-size: $font-size--setting-xsm;
    font-weight: 400;
    border-radius: 999px;
    &__cancel {
      border-radius: $radius--default;
      background-color: $button-color--cancel;
      color: $text-color--gray;
      width: 100%;
      max-width: 96px;
      flex-shrink: 1;
      margin-top: 18px;
    }
    &__point {
      font-size: $font-size--setting-sm;
      font-weight: $font-weight--Medium;
      border-radius: $radius--default;
      background-color: $point-color--default;
      color: #FFF;
      width: 100% !important;
      flex-shrink: 1;
      margin-top: 18px;
      @include device__query(tablet) {
        font-size: $font-size--setting-xxsm;
      }
    }
    &__kakao {
      max-width: 130px;
      height: 24px;
      padding: 0;
      padding-left: 32px;
      margin: 0 auto;
      font-size: $font-size--setting-sm;
      font-weight: 400;
      background: url(../../../img/icon/icon_kakao_copy.png) no-repeat left / 24px;
    }
  }

}