.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--SemiBold);
}
.default {
  background-color: #FFF;
  color: var(--text-color--default);
  border: 1px solid var(--button-color--default);
  border-radius: var(--radius--default);
}
.primary {
  background-color: var(--button-color--default);
  color: #FFF;
  border-radius: var(--radius--default);
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  content: "x";
  border: 1px solid var(--border-color--default);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  color: var(--button-color--default);
  background: url() no-repeat center contain;
  background-color: #fff;
  border-radius: 0;
}