.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 12px;
  border: none;
}

.default {
  background-color: var(--button-color--default);
  color: #FFF;
}

.primary {
  background-color: var(--button-color--template);
  color: #FFF;
}