@import "../../_module";
.wrapper {
  width: 100%;
  padding: 4px 20px;
  display: none;
  @include device__query(tablet) {
    @include flex__row;
  }
  &.absolute {
    @include position(a, 10px, 0);
  }
  &.static {
    @include position(s);
  }
}