@import "../../_module";
.notice__content {
  @include flex__row;
  column-gap: 6px;
  font-size: $font-size--sm;
  @include device__query(tablet) {
    font-size: $font-size--xsm;
  }
  span {
    font-weight: $font-weight--Regular;
    color: $text-color--gray;
    word-break: keep-all;
    @include device__query(tablet) {
      line-height: 1.4em;
    }
    br {
      display: none;
    }
    @include device__query(tablet) {
      br {
        display: inline-block;
      }
    }
  }
}