@import "../../_module";
.notice__wrapper {
  @include flex__column;
  row-gap: 6px;
  @include device__query(tablet) {
    row-gap: 2px;
  }
  &.mobile__notice {
    text-align: center;
    justify-content: center;
    span:first-child {
      display: none;
    }
    > li {
      justify-content: center;
    }
  }
}