.notice__content {
  display: flex;
  column-gap: 6px;
  font-size: var(--font-size--sm);
}
.notice__content span {
  color: var(--text-color--gray);
  font-weight: var(--font-weight--Regular);
  word-break: keep-all;
}