@import "../../_module";
/* VISUAL */
.visual {
  height: 700px;
  overflow: hidden;
  margin-top: 100px;
}

.visual__wrapper {
  width: 100%;
  max-width: var(--width--max);
  height: 100%;
}

.visual .swiper {
  position: relative;
  height: inherit;
}

.visual .swiper .view__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visual .swiper .swiper-slide img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.visual .swiper .swiper-slide.white img {
  filter: brightness(0.7);
}

.visual .swiper .swiper-slide.color .text {
  color: var(--text-color--default);
}

.visual .swiper-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition--fast);
  width: 100%;
  max-width: 1520px;
  z-index: 99;
  opacity: 0;
}

.visual:hover .swiper-button-wrapper {
  opacity: 1;
}

.visual .swiper-button-prev, 
.visual .swiper-button-next {
  color: #FFF;
}

.visual .swiper-button-prev::after, 
.visual .swiper-button-next::after {
  content: "";
  width: 33px;
  height: 62px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.visual .swiper-button-prev::after {
  // background-image: url(../images/icon/visualarrow_left.svg);
}

.visual .swiper-button-next::after {
  // background-image: url(../images/icon/visualarrow_right.svg);
}

.visual .swiper-button-wrapper > div::after {
  filter: invert(1) brightness(100);
}

.visual .swiper-button-wrapper.color > div::after {
  filter: unset;
}

.visual .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color: #FFF;
  row-gap: 50px;
  padding-top: 160px;
}

.visual .text h2 {
  font-family: var(--font-family--point);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.3em;
  letter-spacing: -0.05em;
}

.visual .text span {
  font-size: var(--font-size--lg);
  font-weight: 500;
}

.visual .swiper-pagination {
  left: calc(50% + 15px);
  bottom: 27% !important;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 3px;
  width: 100%;
  max-width: var(--width--max);
}

.visual .swiper-pagination-bullet {
  background-color: #FFF;
  width: 12px;
  height: 12px;
  margin: 0 9px !important;
  opacity: 0.5;
}

.visual .swiper-pagination-bullet-active {
  position: relative;
  background-color: #fff;
  width: 6px;
  height: 6px;
  margin: 0 13px !important;
  opacity: 1;
}

.visual .swiper-pagination-bullet-active::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFF;
  border-radius: 50%;
}

.visual .swiper-pagination.color .swiper-pagination-bullet,
.visual .swiper-pagination.color .swiper-pagination-bullet-active {
  background-color: #2D2D2D;
}

.visual .swiper-pagination.color .swiper-pagination-bullet-active::after {
  border: 1px solid #2D2D2D;
}

.visual .swiper-pagination.color .swiper-pagination-bullet {
  opacity: 0.3;
}

.visual .swiper-pagination.color .swiper-pagination-bullet-active {
  opacity: 1;
}

.visual .scroll {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  z-index: 99;
}

.visual .scroll p {
  color: #FFF;
  font-size: 11px;
  font-weight: 400;
}

.visual .scroll img {
  max-height: 28px;
}

/* INTRO */
.intro {
  // background-image: url(../images/bg/intro.svg);
  background-position: 167px 115px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: var(--bg-color--default);
}

.intro__wrapper {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.intro__wrapper .list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.intro__wrapper .list ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.intro__wrapper .list ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 20px 48px;
  border-radius: 70px;
  background-color: #FFF;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.03);
}

.intro__wrapper .list ul li .image {
  width: 50%;
  max-width: 114px;
  margin-bottom: 46px;
}

.intro__wrapper .list ul li .image img {
  width: 100%;
}

.intro__wrapper .list ul li .text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} 

.intro__wrapper .list ul li .text p {
  text-align: center;
  font-size: var(--font-size--xl);
  font-weight: 800;
}

.intro__wrapper .list ul li .text span {
  display: block;
  margin-top: 8px;
  font-size: var(--font-size--sl);
  font-weight: 500;
  color: var(--text-color--gray);
}

/* MENU */
.menu__wrapper {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu__wrapper .title {
  padding-top: 33px;
}

.menu__wrapper .title > p {
  display: block;
  margin-top: 30px;
  font-size: 21px;
  color: var(--text-color--gray);
  font-weight: 500;
  line-height: 1.5em;
}

.menu__wrapper .list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding--default);
  gap: 50px;
}

.menu__wrapper .list ul li a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: $transition--fast;
}

.menu__wrapper .list ul li a .image {
  min-height: 140px;
  margin-bottom: 20px;
  background-color: var(--bg-color--default);
  padding: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__wrapper .list ul li a .image img {
  width: 100%;
  max-width: 80px;
  transition: $transition--fast;
}

.menu__wrapper .list ul li a p {
  font-size: var(--font-size--lg);
  font-weight: 600;
  text-align: center;
}

.menu__wrapper .list ul li a:hover .image img {
  transform: scale(1.1);
}

.menu__wrapper .list ul li a:hover .image {
}

/* TEMPLATE */
article.template {
  // background: url(../images/bg/template.svg), linear-gradient(transparent 55%, #FFB3A2 55%);
  background: linear-gradient(transparent 55%, #FFB3A2 55%);
  background-position: bottom 144px center, bottom;
  background-size: 70%, 100%;
  background-repeat: no-repeat;
  background-color: var(--bg-color--default);
}

article.template .view__wrapper {
  max-width: 1900px;
}

.template__wrapper {
  padding-top: 120px;
  padding-bottom: 100px;
}

.template__wrapper .button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 50px;
}

.template .swiper-wrapper {
  transition-timing-function: linear;
}

.template .swiper-slide {
  transition: var(--transition--template);
  -webkit-transition: var(--transition--template);
  -ms-transition: var(--transition--template);
  -moz-transition: var(--transition--template);
  height: calc(720 / 1920 * 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
  transform-origin: center center;
}

.template .swiper-slide a {
  display: block;
  height: 96%;
  pointer-events: none;
}

.template .swiper-slide.swiper-slide-active a {
  pointer-events: all;
}

.template .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: calc(60 / 1920 * 100vw);
}

.template .swiper-slide.swiper-slide-prev,
.template .swiper-slide.swiper-slide-next {
  transform: scale(0.8);
  transform-origin: center center;
}

.template .swiper-slide.swiper-slide-active {
  transform: scale(1);
  position: relative;
}

.template .swiper-slide.frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url(../images/template/frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.template .swiper-slide.frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url(../images/template/frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.template .swiper-slide.alignRight {
  transform-origin: center right;
}

.template .swiper-slide.alignLeft {
  transform-origin: center left;
}

.template .swiper-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 100%;
  margin-top: 50px;
}

.template .swiper-button-next,
.template .swiper-button-prev {
  position: static;
  width: unset;
  height: unset;
  margin-top: unset;
  z-index: unset;
}

.template .swiper-button-next::after,
.template .swiper-button-prev::after {
  content: "";
  width: 24px;
  height: 14px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.template .swiper-button-next::after {
  // background-image: url(../images/icon/arrow_slide_template_right.svg);
}

.template .swiper-button-prev::after {
  // background-image: url(../images/icon/arrow_slide_template_left.svg);
}

.template .swiper-button-prev {
  animation: 0.5s forwards linear infinite alternate left-move-arrow;
}

.template .swiper-button-next {
  animation: 0.5s forwards linear infinite alternate right-move-arrow;
}

.template .swiper-pagination {
  position: static;
  width: unset;
  min-width: 114px;
  height: 38px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  padding: 9px 24px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 50px;
}

.template .swiper-pagination span {
  min-width: 24px;
  font-size: var(--font-size--sl);
  font-weight: 600;
  color: #FFF;
}

.template .swiper-pagination span:last-child {
  position: relative;
}

.template .swiper-pagination span:last-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -11px;
  transform: translateY(-50%);
  width: 3px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.35);
}

.template .slide__wrapper {
  position: relative;
}

.template .slide__wrapper .frame {
  width: calc(360 / 1920 * 100vw);
  height: calc(720 / 1920 * 100vw);
  position: absolute;
  top: calc(50% - 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.template .slide__wrapper .frame::before {
  content: "";
  width: 100%;
  height: 100%;
  // background-image: url(../images/template/frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  z-index: 55;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FAQ */
article.faq {
  // background-image: url(../images/bg/faq.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 445px;
  position: relative;
}

.faq__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.faq__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.faq__wrapper .item {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: $transition--fast;
}

.faq__wrapper .item > p {
  color: #FFF;
  text-align: center;
  font-size: var(--font-size--sl);
  font-weight: 300;
  display: block;
  margin-bottom: 50px;
  line-height: 1.5em;
}

.faq__wrapper .item a {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  transition: $transition--fast;
}

.faq__wrapper .item a > p {
  color: #FFF;
  font-size: var(--font-size--sl);
  font-weight: 600;
}

.faq__wrapper .item a > img {
  max-width: 24px;
  transition: $transition--fast;
  transform: translateX(-0%);
  animation-fill-mode: forwards;
  animation-name: current-move-arrow;
}

.faq__wrapper .item a:hover img {
  animation-name: right-move-arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.faq__wrapper .item a:hover::after {
  opacity: 1;
}

.faq__wrapper .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49.5vw;
  height: 445px;
  backdrop-filter: blur(8px);
  transition: $transition--fast;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  animation: 0.6s forwards fade-out;
}

.faq__wrapper .item.on::after {
  opacity: 1;
}

.faq__wrapper .item:nth-child(2)::after {
  left: unset;
  right: 0;
}

.faq__wrapper .item > * {
  position: relative;
  z-index: 1;
}
/* device == "pc" */
@media screen and (min-width: 1800px) {
  /* @content; */
}

/* device == "notebook" */
@media screen and (max-width: 1799px) {
  /* @content; */
}

/* device == "tablet" */
/* clamp 35%, 90% */
@media screen and (max-width: 1199px) {
  /* @content; */
  /* VISUAL */
  .visual {
    height: calc(700 / var(--width-tablet) * 100vw);
    margin-top: calc(100 / var(--width-tablet) * 100vw);
  }
  .visual .text {
    padding-top: calc(160 / var(--width-tablet) * 100vw);
    row-gap: calc(40 / var(--width-tablet) * 100vw);
  }
  .visual .text h2 {
    font-size: clamp(40px, calc(64 / var(--width-tablet) * 100vw), 60px);
  }
  .visual .text span {
    font-size: var(--font-size--lg);
    font-weight: 500;
  }
  .visual .swiper-pagination-bullet {
    width: calc(12 / var(--width-tablet) * 100vw);
    height: calc(12 / var(--width-tablet) * 100vw);
    margin: 0 calc(9 / var(--width-tablet) * 100vw) !important;
  }
  .visual .swiper-pagination-bullet-active {
    width: calc(6 / var(--width-tablet) * 100vw);
    height: calc(6 / var(--width-tablet) * 100vw);
    margin: 0 calc(13 / var(--width-tablet) * 100vw) !important;
  }
  .visual .swiper-pagination-bullet-active::after {
    width: calc(20 / var(--width-tablet) * 100vw);
    height: calc(20 / var(--width-tablet) * 100vw);
  }
  .visual .swiper-button-prev::after, 
  .visual .swiper-button-next::after {
    width: calc(33 / var(--width-tablet) * 100vw);
    height: calc(62 / var(--width-tablet) * 100vw);
  }

  /* INTRO */
  .intro {
    background-position: calc(167 / var(--width-tablet) * 100vw) calc(115 / var(--width-tablet) * 100vw);
    background-size: calc(300 / var(--width-tablet) * 100vw);
  }
  .intro__wrapper {
    padding-top: calc(120 / var(--width-tablet) * 100vw);
    padding-bottom: calc(120 / var(--width-tablet) * 100vw);
  }
  .intro__wrapper .list ul {
    gap: calc(40 / var(--width-tablet) * 100vw);
  }
  .intro__wrapper .list ul li {
    padding: calc(64 / var(--width-tablet) * 100vw) calc(20 / var(--width-tablet) * 100vw) calc(48 / var(--width-tablet) * 100vw);
    border-radius: calc(70 / var(--width-tablet) * 100vw);
    box-shadow: 0 calc(7 / var(--width-tablet) * 100vw) calc(12 / var(--width-tablet) * 100vw) rgba(0, 0, 0, 0.03);
  }
  .intro__wrapper .list ul li .image {
    max-width: calc(114 / var(--width-tablet) * 100vw);
    margin-bottom: calc(46 / var(--width-tablet) * 100vw);
  }

  /* MENU */
  .menu__wrapper {
    padding-top: calc(130 / var(--width-tablet) * 100vw);
    padding-bottom: calc(130 / var(--width-tablet) * 100vw);
  }
  .menu__wrapper .title > p {
    font-size: clamp(15.8px, calc(21 / var(--width-tablet) * 100vw), 18.5px);
    margin-top: calc(30 / var(--width-tablet) * 100vw);
  }
  .menu__wrapper .list ul {
    grid-template-columns: repeat(3, 1fr);
    gap: calc(50 / var(--width-tablet) * 100vw);
  }
  .menu__wrapper .list ul li a .image {
    min-height: calc(140 / var(--width-tablet) * 100vw);
    margin-bottom: calc(20 / var(--width-tablet) * 100vw);
    padding: calc(30 / var(--width-tablet) * 100vw);
    border-radius: calc(50 / var(--width-tablet) * 100vw);
  }
  .menu__wrapper .list ul li a .image img {
    max-width: calc(80 / var(--width-tablet) * 100vw);
  }

  /* TEMPLATE */
  .template__wrapper {
    padding-top: calc(120 / var(--width-tablet) * 100vw);
    padding-bottom: calc(100 / var(--width-tablet) * 100vw);
  }
  .template__wrapper .button__wrapper {
    column-gap: calc(15 / var(--width-tablet) * 100vw);
    margin-bottom: calc(50 / var(--width-tablet) * 100vw);
  }
  .template .swiper-button-wrapper {
    column-gap: calc(20 / var(--width-tablet) * 100vw);
    margin-top: calc(50 / var(--width-tablet) * 100vw);
  }
  .template .swiper-pagination {
    min-width: calc(114 / var(--width-tablet) * 100vw);
    height: calc(38 / var(--width-tablet) * 100vw);
    column-gap: calc(7 / var(--width-tablet) * 100vw);
    padding: calc(9 / var(--width-tablet) * 100vw) calc(24 / var(--width-tablet) * 100vw);
    border-radius: calc(50 / var(--width-tablet) * 100vw);
  }
  .template .swiper-pagination span {
    min-width: calc(24 / var(--width-tablet) * 100vw);
  }
  .template .swiper-pagination span:last-child::after {
    left: calc(11 / var(--width-tablet) * -100vw);
    width: calc(3 / var(--width-tablet) * 100vw);
    height: calc(11 / var(--width-tablet) * 100vw);
  }
  .template .swiper-button-next::after, 
  .template .swiper-button-prev::after {
    width: calc(24 / var(--width-tablet) * 100vw);
    height: calc(14 / var(--width-tablet) * 100vw);
  }
  .template .slide__wrapper .frame {
    width: calc(220 / var(--width-tablet) * 100vw);
    height: calc(450 / var(--width-tablet) * 100vw);
    top: calc(50% - calc(45 / var(--width-tablet) * 100vw));
  }

  /* FAQ */
  article.faq {
    height: calc(445 / var(--width-tablet) * 100vw);
  }
  .faq__wrapper .item {
    padding: calc(100 / var(--width-tablet) * 100vw) calc(20 / var(--width-tablet) * 100vw);
  }
  .faq__wrapper .item > p {
    margin-bottom: calc(50 / var(--width-tablet) * 100vw);
  }
  .faq__wrapper .item a {
    column-gap: calc(14 / var(--width-tablet) * 100vw);
  }
  .faq__wrapper .item a > img {
    max-width: calc(24 / var(--width-tablet) * 100vw);
  }
  .faq__wrapper .item::after {
    height: calc(445 / var(--width-tablet) * 100vw);
  }
}

/* device == "mobile" */
@media screen and (max-width: 599px) {
  /* @content; */
  .visual {
    height: 570px;
    margin-top: 55px;
  }
  .visual .text {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    row-gap: 15px;
    padding-top: unset;
    padding-bottom: 104px;
  }
  .visual .text h2 {
    font-size: 32px;
  }
  .visual .swiper-pagination {
    left: 50%;
    bottom: 50px !important;
    justify-content: center;
    align-items: center;
    column-gap: 0;
  }
  .visual .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
  .visual .swiper-pagination-bullet-active {
    width: 4px;
    height: 4px;
    margin: 0 8px !important;
  }
  .visual .swiper-pagination-bullet-active::after {
    width: 14px;
    height: 14px;
  }
  /* INTRO */
  .intro {
    background-image: unset;
  }
  .intro__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intro__wrapper .list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
    max-width: 330px;
  }
  .intro__wrapper .list ul li {
    padding: 36px 5px 30px;
    border-radius: calc(70 / var(--width-tablet)* 100vw);
    box-shadow: unset;
  }
  .intro__wrapper .list ul li .image {
    max-width: unset;
    width: 76px;
    margin-bottom: 20px;
  }
  .intro__wrapper .list ul li .text span {
    margin-top: 7px;
  }
  /* MENU */
  .menu__wrapper {
    padding-top: 50px;
    padding-bottom: 132px;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    width: 100%;
    gap: 30px;
  }
  .menu__wrapper .title {
    padding-top: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .menu__wrapper .title > p {
    font-size: 15px;
    margin-top: 15px;
  }
  .menu__wrapper .list ul {
    gap: 30px;
    max-width: 305px;
    margin: 0 auto;
    padding: unset;
  }
  .menu__wrapper .list ul li a .image {
    min-height: 82px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 24px;
  }
  .menu__wrapper .list ul li a .image img {
    max-width: unset;
    width: 56px;
  }
  /* TEMPLATE */
  article.template {
    background-position: bottom 70px center, bottom;
    background-size: 93%, 100%;
    background-color: var(--bg-color--default);
  }
  .template .view__wrapper {
    padding: 0;
  }
  .template__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .template__wrapper .button__wrapper {
    column-gap: 10px;
    margin-bottom: 35px;
  }
  .template .swiper-slide {
    height: calc(418 / var(--width-mobile-basic) * 100vw);
  }
  .template .swiper-slide a {
    height: unset;
  }
  .template .swiper-slide img {
    border-radius: calc(20 / var(--width-mobile-basic)* 100vw);
  }
  .template .swiper-slide.frame::before {
    content: unset;
  }
  .template .swiper-slide.swiper-slide-prev, 
  .template .swiper-slide.swiper-slide-next {
    transform: scale(0.83);
  }
  .template .swiper-slide.swiper-slide-prev img, 
  .template .swiper-slide.swiper-slide-next img {
    filter: brightness(0.7);
  }
  .template .swiper-pagination {
    column-gap: 5px;
    background-color: transparent;
  }
  .template .swiper-pagination span {
    font-size: 18px;
  }
  .template .swiper-pagination span:last-child::after {
    content: "/";
    left: -10.5px;
    transform: translateY(-50%);
    width: unset;
    height: unset;
    background-color: transparent;
  }
  .template .swiper-button-wrapper {
    margin-top: 25.5px;
  }
  .template .swiper-button-next, 
  .template .swiper-button-prev {
    display: none;
  }
  .template .slide__wrapper .frame {
    display: none;
  }
  /* FAQ */
  article.faq {
    height: unset;
    // background-image: url(../images/bg/template_m.png);
  }
  .faq__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .faq__wrapper::after {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
  }
  .faq__wrapper .item {
    padding: 45px 20px;
  }
  .faq__wrapper .item a > p {
    display: none;
  }
  .faq__wrapper .item > p {
    margin-bottom: 20px;
  }
  .faq__wrapper .item a > img {
    max-width: unset;
    width: 16px;
  }
  .faq__wrapper .item::after {
    width: 100%;
    height: 50%;
  }
  .faq__wrapper .item:nth-child(2)::after {
    left: unset;
    right: 0;
    top: unset;
    bottom: 0;
  }
}

body {
  font-size: var(--font-size--default);
  position: relative;
  overflow-x: hidden;
}

.view__container {
  width: 100%;
}

.view__wrapper {
  width: 100%;
  max-width: var(--width--max);
  height: 100%;
  padding: var(--padding--default);
  margin: 0 auto;
}

// header
.main {
  &__header {
    @include position(f, 0, 0);
    @include flex__row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 999;
    transition: $transition--fast;
    -webkit-transition: $transition--fast;
    -ms-transition: $transition--fast;
    -moz-transition: $transition--fast;
    background-color: #fff;
    &_wrapper {
      width: 100%;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// .header * {
//   transition: $transition--fast;
//   -webkit-transition: $transition--fast;
//   -ms-transition: $transition--fast;
//   -moz-transition: $transition--fast;
// }

.header__wrapper {

}

.header .logo {
  height: 34px;
}

.header .logo h1 {
  display: none;
}

.header .logo img {
  height: 100%;
}

.header .tool ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .tool ul li:not(:first-child) {
  position: relative;
  margin-left: 20px;
}

.header .tool ul li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 1px;
  height: 9px;
  background-color: var(--text-color--default);
}

.header .tool ul li a {
  font-size: var(--font-size--sm);
  font-weight: 600;
}

.header.active {
  position: fixed;
  background-color: #fff;
}

.header.active * {
  color: var(--text-color--default);
}

.header.active .tool ul li:not(:first-child)::after {
  background-color: var(--text-color--default);
}

.header.invite {
  display: none;
}

.content {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #fff;
  padding: 70px 0;
}

.footer * {
  font-size: var(--font-size--ssm);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__wrapper .logo {
  max-width: 172px;
  margin-bottom: 20px;
}

.footer__wrapper .logo img {
  width: 100%;
}

.footer__wrapper .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.footer__wrapper .info * {
  font-weight: 300;
}

.footer__wrapper .info p {
  margin-top: 3px;
}

.footer__wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper ul li:not(:first-child) {
  position: relative;
  margin-left: 30px;
}

.footer__wrapper ul li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 1px;
  height: 9px;
  background-color: var(--text-color--default);
}

.footer__wrapper .menu {
  font-weight: 600;
} 

.footer__wrapper ul.menu li:not(:first-child)::after {
  width: 2px;
}

.footer__wrapper .copy {
  margin-top: 30px;
  font-size: var(--font-size--xsm);
  font-weight: 300;
  opacity: 0.85;
  text-align: center;
}

.footer.invite {
  background-color: var(--bg-color--second);
  border-top: 1px solid var(--border-color--second);
}

.footer.invite .logo {
  margin-bottom: 0;
}

.footer.invite .copy {
  font-size: var(--font-size--xxsm);
  color: var(--text-color--disable);
}

/* CONTENT */
.style__title {
  font-size: var(--font-size--section-title);
  font-weight: 500;
  font-family: var(--font-family--point);
}

.style__title.center {
  text-align: center;
  margin-bottom: 60px;
}

.style__title.white {
  color: #FFF;
}

.template .style__title {
  margin-bottom: 50px;
}

.faq .style__title {
  margin-bottom: 30px;
}

/* BUTTON */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button.main {
  color: #FFF;
  justify-content: space-between;
  column-gap: 24px;
  background-color: var(--button-color--default);
  border-radius: 50px;
  padding: 22px 40px;
  margin-top: 60px;
}

.button.main p {
  font-size: 22px;
  font-weight: 500;
}

.button.main p img {
  max-width: 24px;
}

.button.main img {
  transition: $transition--fast;
}

.button.main:hover img {
  animation: 0.5s forwards linear infinite alternate right-move-arrow;
}

.button.template {
  color: var(--text-color--default);
  font-size: var(--font-size--lg);
  padding: 10px 50px;
  border-radius: 50px;
  background-color: var(--button-color--template-off);
  transition: $transition--fast;
}

.button.template.on {
  color: #FFF;
  background-color: var(--button-color--template);
}

.button.template:not(.on):hover {
  background-color: #D6D6D6;
}

/* @mixin disable-scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
} */

/* @mixin words-skip($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */

/* @function ratio($px, $width) {
  @return calc($px / $width * 100vw);
} */

/* device == "pc" */
@media screen and (min-width: 1800px) {
  /* @content; */
}

/* device == "notebook" */
@media screen and (max-width: 1799px) {
  /* @content; */
}

/* device == "tablet" */
@media screen and (max-width: 1199px) {
  /* HEADER */
  .header {
    height: calc(100 / var(--width-tablet) * 100vw);
  }
  .header .logo {
    height: calc(34 / var(--width-tablet) * 100vw);
  }
  /* @content; */
  .style__title.center {
    margin-bottom: calc(60 / var(--width-tablet) * 100vw);
  }
  .faq .style__title {
    margin-bottom: calc(30 / var(--width-tablet) * 100vw);
  }
  .button.main {
    column-gap: calc(24 / var(--width-tablet) * 100vw);
    border-radius: calc(50 / var(--width-tablet) * 100vw);
    padding: calc(22 / var(--width-tablet) * 100vw) calc(40 / var(--width-tablet) * 100vw);
    margin-top: calc(60 / var(--width-tablet) * 100vw);
  }
  .button.main p {
    font-size: clamp(15.9px, calc(22 / var(--width-tablet) * 100vw), 18.7px);
  }
  .button.main img {
    width: calc(28 / var(--width-tablet) * 100vw);
  }
  .button.template {
    padding: calc(10 / var(--width-tablet) * 100vw) calc(50 / var(--width-tablet) * 100vw);
    border-radius: calc(50 / var(--width-tablet) * 100vw);
  }
  /* FOOTER */
  .footer {
    padding: calc(70 / var(--width-tablet) * 100vw) 0;
  }
  .footer__wrapper .logo {
    max-width: calc(172 / var(--width-tablet) * 100vw);
    margin-bottom: calc(20 / var(--width-tablet) * 100vw);
  }
  .footer__wrapper .info {
    margin-bottom: calc(12 / var(--width-tablet) * 100vw);
  }
  .footer__wrapper .copy {
    margin-top: calc(30 / var(--width-tablet) * 100vw);
  }
}

/* device == "mobile" */
@media screen and (max-width: 599px) {
  /* HEADER */
  .header {
    height: 55px;
  }
  .header .logo {
    height: 20px;
  }
  /* @content; */
  .style__title {
    font-weight: 500;
  }
  .style__title.center {
    margin-bottom: 30px;
  }
  .faq .style__title.center {
    margin-bottom: 15px;
  }
  .template .style__title.center {
    margin-bottom: 25px;
  }

  .button.main {
    width: 198px;
    column-gap: 15px;
    border-radius: 50px;
    padding: 16.5px 40px;
    margin-top: unset;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }
  .button.main img {
    width: 16px;
  }
  .button.main p {
    font-size: 16px;
  }
  .button.template {
    padding: 14px 50px;
    border-radius: 26px;
  }
  /* FOOTER */
  .footer {
    padding: 50px 0;
  }
  .footer__wrapper .logo {
    max-width: unset;
    height: 20px;
    margin-bottom: 20px;
  }
  .footer__wrapper .logo img {
    width: unset;
    height: 100%;
  }
  .footer__wrapper ul {
    width: 100%;
    display: block;
  }
  .footer__wrapper ul li {
    text-align: center;
    width: unset;
    display: block;
  }
  .footer__wrapper ul li:not(:first-child) {
    margin-left: 15px;
  }
  .footer__wrapper ul li:not(:first-child)::after {
    left: -9px;
    transform: translateY(-50%);
    width: 1px;
    height: 9px;
    background-color: var(--text-color--default);
  }
  .footer__wrapper .info ul li:nth-child(2) {
    margin-left: 0;
  }
  .footer__wrapper .info ul li:nth-child(2)::after,
  .footer__wrapper .info ul li:nth-child(3)::after {
    content: unset;
  }
  .footer__wrapper .info ul li:nth-child(3), 
  .footer__wrapper .info ul li:nth-child(4) {
    display: inline-block;
  } 
  .footer__wrapper .info {
    margin-bottom: 10px;
  }
  .footer__wrapper ul.menu {
    text-align: center;
  }
  .footer__wrapper ul.menu li {
    display: inline-block;
  }
  .footer__wrapper .copy {
    margin-top: 30px;
  }
  .footer.invite .copy {
    margin-top: 6px;
  }
  .footer.invite .footer__wrapper .logo {
    height: 12px;
  }
}






body {
  font-size: var(--font-size--default);
  position: relative;
  overflow-x: hidden;
}

.view__container {
  width: 100%;
}

.view__wrapper {
  width: 100%;
  max-width: var(--width--max);
  height: 100%;
  padding: var(--padding--default);
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* border-bottom: 1px solid var(--border-color--default); */
  transition: $transition--fast;
  -webkit-transition: $transition--fast;
  -ms-transition: $transition--fast;
  -moz-transition: $transition--fast;
  background-color: #fff;
}

.header * {
  /* color: #FFF; */
  transition: $transition--fast;
  -webkit-transition: $transition--fast;
  -ms-transition: $transition--fast;
  -moz-transition: $transition--fast;
}

.header__wrapper {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  height: 34px;
}

.header .logo h1 {
  display: none;
}

.header .logo img {
  height: 100%;
}

.header .tool ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .tool ul li:not(:first-child) {
  position: relative;
  margin-left: 20px;
}

.header .tool ul li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 1px;
  height: 9px;
  background-color: var(--text-color--default);
}

.header .tool ul li a {
  font-size: var(--font-size--sm);
  font-weight: 600;
}

.header.active {
  position: fixed;
  background-color: #fff;
}

.header.active * {
  color: var(--text-color--default);
}

.header.active .tool ul li:not(:first-child)::after {
  background-color: var(--text-color--default);
}

.header.invite {
  display: none;
}

.content {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #fff;
  padding: 70px 0;
}

.footer * {
  font-size: var(--font-size--ssm);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__wrapper .logo {
  max-width: 172px;
  margin-bottom: 20px;
}

.footer__wrapper .logo img {
  width: 100%;
}

.footer__wrapper .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.footer__wrapper .info * {
  font-weight: 300;
}

.footer__wrapper .info p {
  margin-top: 3px;
}

.footer__wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper ul li:not(:first-child) {
  position: relative;
  margin-left: 30px;
}

.footer__wrapper ul li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 1px;
  height: 9px;
  background-color: var(--text-color--default);
}

.footer__wrapper .menu {
  font-weight: 600;
} 

.footer__wrapper ul.menu li:not(:first-child)::after {
  width: 2px;
}

.footer__wrapper .copy {
  margin-top: 30px;
  font-size: var(--font-size--xsm);
  font-weight: 300;
  opacity: 0.85;
  text-align: center;
}

.footer.invite {
  background-color: var(--bg-color--second);
  border-top: 1px solid var(--border-color--second);
}

.footer.invite .logo {
  margin-bottom: 0;
}

.footer.invite .copy {
  font-size: var(--font-size--xxsm);
  color: var(--text-color--disable);
}

/* CONTENT */
.style__title {
  font-size: var(--font-size--section-title);
  font-weight: 500;
  font-family: var(--font-family--point);
}

.style__title.center {
  text-align: center;
  margin-bottom: 60px;
}

.style__title.white {
  color: #FFF;
}

.template .style__title {
  margin-bottom: 50px;
}

.faq .style__title {
  margin-bottom: 30px;
}

/* BUTTON */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button.main {
  color: #FFF;
  justify-content: space-between;
  column-gap: 24px;
  background-color: var(--button-color--default);
  border-radius: 50px;
  padding: 22px 40px;
  margin-top: 60px;
}

.button.main p {
  font-size: 22px;
  font-weight: 500;
}

.button.main p img {
  max-width: 24px;
}

.button.main img {
  transition: $transition--fast;
}

.button.main:hover img {
  animation: 0.5s forwards linear infinite alternate right-move-arrow;
}

.button.template {
  color: var(--text-color--default);
  font-size: var(--font-size--lg);
  padding: 10px 50px;
  border-radius: 50px;
  background-color: var(--button-color--template-off);
  transition: $transition--fast;
}

.button.template.on {
  color: #FFF;
  background-color: var(--button-color--template);
}

.button.template:not(.on):hover {
  background-color: #D6D6D6;
}

/* @mixin disable-scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
} */

/* @mixin words-skip($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */

/* @function ratio($px, $width) {
  @return calc($px / $width * 100vw);
} */

/* device == "pc" */
@media screen and (min-width: 1800px) {
  /* @content; */
}

/* device == "notebook" */
@media screen and (max-width: 1799px) {
  /* @content; */
}

/* device == "tablet" */
@media screen and (max-width: 1199px) {
  /* HEADER */
  .header {
    height: calc(100 / var(--width-tablet) * 100vw);
  }
  .header .logo {
    height: calc(34 / var(--width-tablet) * 100vw);
  }
  /* @content; */
  .style__title.center {
    margin-bottom: calc(60 / var(--width-tablet) * 100vw);
  }
  .faq .style__title {
    margin-bottom: calc(30 / var(--width-tablet) * 100vw);
  }
  .button.main {
    column-gap: calc(24 / var(--width-tablet) * 100vw);
    border-radius: calc(50 / var(--width-tablet) * 100vw);
    padding: calc(22 / var(--width-tablet) * 100vw) calc(40 / var(--width-tablet) * 100vw);
    margin-top: calc(60 / var(--width-tablet) * 100vw);
  }
  .button.main p {
    font-size: clamp(15.9px, calc(22 / var(--width-tablet) * 100vw), 18.7px);
  }
  .button.main img {
    width: calc(28 / var(--width-tablet) * 100vw);
  }
  .button.template {
    padding: calc(10 / var(--width-tablet) * 100vw) calc(50 / var(--width-tablet) * 100vw);
    border-radius: calc(50 / var(--width-tablet) * 100vw);
  }
  /* FOOTER */
  .footer {
    padding: calc(70 / var(--width-tablet) * 100vw) 0;
  }
  .footer__wrapper .logo {
    max-width: calc(172 / var(--width-tablet) * 100vw);
    margin-bottom: calc(20 / var(--width-tablet) * 100vw);
  }
  .footer__wrapper .info {
    margin-bottom: calc(12 / var(--width-tablet) * 100vw);
  }
  .footer__wrapper .copy {
    margin-top: calc(30 / var(--width-tablet) * 100vw);
  }
}

/* device == "mobile" */
@media screen and (max-width: 599px) {
  /* HEADER */
  .header {
    height: 55px;
  }
  .header .logo {
    height: 20px;
  }
  /* @content; */
  .style__title {
    font-weight: 500;
  }
  .style__title.center {
    margin-bottom: 30px;
  }
  .faq .style__title.center {
    margin-bottom: 15px;
  }
  .template .style__title.center {
    margin-bottom: 25px;
  }

  .button.main {
    width: 198px;
    column-gap: 15px;
    border-radius: 50px;
    padding: 16.5px 40px;
    margin-top: unset;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }
  .button.main img {
    width: 16px;
  }
  .button.main p {
    font-size: 16px;
  }
  .button.template {
    padding: 14px 50px;
    border-radius: 26px;
  }
  /* FOOTER */
  .footer {
    padding: 50px 0;
  }
  .footer__wrapper .logo {
    max-width: unset;
    height: 20px;
    margin-bottom: 20px;
  }
  .footer__wrapper .logo img {
    width: unset;
    height: 100%;
  }
  .footer__wrapper ul {
    width: 100%;
    display: block;
  }
  .footer__wrapper ul li {
    text-align: center;
    width: unset;
    display: block;
  }
  .footer__wrapper ul li:not(:first-child) {
    margin-left: 15px;
  }
  .footer__wrapper ul li:not(:first-child)::after {
    left: -9px;
    transform: translateY(-50%);
    width: 1px;
    height: 9px;
    background-color: var(--text-color--default);
  }
  .footer__wrapper .info ul li:nth-child(2) {
    margin-left: 0;
  }
  .footer__wrapper .info ul li:nth-child(2)::after,
  .footer__wrapper .info ul li:nth-child(3)::after {
    content: unset;
  }
  .footer__wrapper .info ul li:nth-child(3), 
  .footer__wrapper .info ul li:nth-child(4) {
    display: inline-block;
  } 
  .footer__wrapper .info {
    margin-bottom: 10px;
  }
  .footer__wrapper ul.menu {
    text-align: center;
  }
  .footer__wrapper ul.menu li {
    display: inline-block;
  }
  .footer__wrapper .copy {
    margin-top: 30px;
  }
  .footer.invite .copy {
    margin-top: 6px;
  }
  .footer.invite .footer__wrapper .logo {
    height: 12px;
  }
}






